<div class="admin-detail panel">
	<div class="panel-head">
        <a href="{:url('index')}"><span class="bg-main icon button icon-left">返回</span></a>
    </div>
    <div class="panel-body">
        <div class="pageTitle"><span class="">{$info.name ?? ''}</span></div>
        {notEmpty name='info.description'}<p class="pageDescription">{$info.description ?? ''}</p>{/notEmpty}
        <div class="pageDetail">
        	{$info.content|raw|default=''}
        </div>
    </div>
    <!--<div class="panel-foot">-->
    	<!--<div class="form-button">-->
        	<!--<a class="icon-left icon button bg-main" href="{:url('index')}">返回</a>-->
        <!--</div>-->
    <!--</div>-->
</div>