<div class="admin-detail panel">
	<div class="panel-head">
    	<h4 class="panel-head-title"><span>{$info.name ?? ''}</span></h4>
    </div>
	<div class="panel-body">
        <p class="pageDescription">{$info.description ?? ''}</p>
        <div class="pageDetail">
        	{$info.content|raw|default=''}
        </div>
    </div>
    <div class="panel-foot">
    	<div class="form-button">
        	<a class="button bg-main" href="{:url('index')}">返回</a>
        </div>
    </div>
</div>