<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">公告信息</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                    <div class="form-group">
                        <div class="label">
                            <label>公告标题</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="name" name="name" size="60" datatype="*" value="{$info['name'] ?? ''}">
                            <div class="input-note">公告标题请不要填写特殊字符</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>选择商户类型</label>
                        </div>
                        <div class="field">
                            <div class="button-group radio">
                            	<label class='button{if (!$info) ||(isset($info['store_type']) && $info['store_type'] == 0)} active{/if}'><input name="store_type" value="0" {if (!$info) ||(isset($info['store_type']) && $info['store_type'] == 0)}checked="checked"{/if} type="radio">全部商户</label>
                            {volist name="types" id="type"}
                                <label class='button{if (isset($info['store_type']) && $info['store_type'] == $key)} active{/if}'><input name="store_type" value="{$key}" {if (isset($info['store_type']) && $info['store_type'] == $key)}checked="checked"{/if} type="radio">{$type}</label>
                            {/volist}
                            </div>
                            <div class="input-note">请选择公告可见商户类型</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="label">
                            <label>所有商户可见</label>
                        </div>
                        <div class="field">
                           {notpresent name="info.visible_range"}
                                {assign name="info.visible_range" value="1" /}
                           {/notpresent}
                            <div class="button-group radio">
                                {if condition="$info.visible_range eq 1"}
                                <label class="button active"><input name="visible_range" value="1" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="visible_range" value="1" type="radio">
                                {/if}是</label>
                                {if condition="$info.visible_range eq 0"}
                                <label class="button active"><input name="visible_range" value="0" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="visible_range" value="0" type="radio">
                                {/if}否</label>
                            </div>
                            <div class="input-note">是否全部商户可见</div>
                        </div>
                    </div> -->
                    {if ($info && isset($info['stores']) && $info['stores'])}
                    <div class="form-group js-selectmul" posturl="{:url('channel/getAjaxList', ['store_type' => $info['store_type']])}" str="选择门店商户" searchName="请输入商户名称" formname="store_id" formvalue='{$info.stores ?? ""}'></div>
                    {else/}
                    <div class="form-group js-selectmul" hide="true"></div>
                    {/if}
                    <!-- <div class="form-group">
			            <div class="label">
			              <label>公告描述</label>
			            </div>
			            <div class="field">
			              <textarea class="input" id="description" name="description" rows="5" cols="60">{$info['description'] ?? ''}</textarea>
			              <div class="input-note"></div>
			            </div>
			        </div> -->
                    <div class="form-group">
		                <div class="label">
		                  <label>公告内容</label>
		                </div>
		                <div class="field">
		                  <textarea class="input js-editor" id="content" datatype="*" name="content" rows="20">
		                  	{$info.content? stripslashes($info.content) : '' }
		                  </textarea>
		                  <div class="input-note">请输入公告内容</div>
		                </div>
	              	</div>
                    <div id="expand"></div>
                    <div class="form-group">
                        <div class="label">
                            <label>开屏展示</label>
                        </div>
                        <div class="field">
                           {notpresent name="info.special_display"}
                                {assign name="info.special_display" value="0" /}
                           {/notpresent}
                            <div class="button-group radio">
                                {if condition="$info.special_display eq 1"}
                                <label class="button active"><input name="special_display" value="1" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="special_display" value="1" type="radio">
                                {/if}是</label>
                                {if condition="$info.special_display eq 0"}
                                <label class="button active"><input name="special_display" value="0" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="special_display" value="0" type="radio">
                                {/if}否</label>
                            </div>
                            <div class="input-note">选择是,商户进入首页即强制展示</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>是否置顶显示</label>
                        </div>
                        <div class="field">
                           {notpresent name="info.is_top"}
                                {assign name="info.is_top" value="0" /}
                           {/notpresent}
                            <div class="button-group radio">
                                {if condition="$info.is_top eq 1"}
                                <label class="button active"><input name="is_top" value="1" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="is_top" value="1" type="radio">
                                {/if}是</label>
                                {if condition="$info.is_top eq 0"}
                                <label class="button active"><input name="is_top" value="0" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="is_top" value="0" type="radio">
                                {/if}否</label>
                            </div>
                            <div class="input-note">禁用后不会在前台显示</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="label">
                            <label>公告状态</label>
                        </div>
                        <div class="field">
                           {notpresent name="info.status"}
                                {assign name="info.status" value="1" /}
                           {/notpresent}
                            <div class="button-group radio">
                                {if condition="$info.status eq 1"}
                                <label class="button active"><input name="status" value="1" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="status" value="1" type="radio">
                                {/if}
                                可用</label>
                                {if condition="$info.status eq 0"}
                                <label class="button active"><input name="status" value="0" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="status" value="0" type="radio">
                                {/if}
                                禁用</label>
                            </div>
                            <div class="input-note">禁用后不会在前台显示</div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="label">
                            <label>排序</label>
                        </div>
                        <div class="field">
                            <input type="number" class="input" id="sort_order" name="sort_order" size="60" value="{$info.sort_order|default=1}">
                            <div class="input-note">数字小的显示在前面</div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
        $("input[name='visible_range'], input[name='store_type']").change(function(){
        	var range = $('input[name="visible_range"]:checked').val();
        	var type = $('input[name="store_type"]:checked').val();
        	if(range == 0){
				$(".js-selectmul").ajaxmul({
					'str' 		: '选择可见商户',
					'searchName': '请输入商户名称',
					'name' 		: 'store_id',
					'id' 		: '0',
					'ajaxUrl' 	: "/channel/getAjaxList/store_type/"+type,
					'hide'		: 0,
				});
			}else{
				$(".js-selectmul").ajaxmul({
					'str' 		: '选择可见商户',
					'searchName': '请输入商户名称',
					'name' 		: 'store_id',
					'id' 		: '0',
					'ajaxUrl' 	: "/channel/getAjaxList/store_type/"+type,
					'hide'		: 1,
				});
			}
        });
    }); 
</script>