<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab boxShadow">
        <div class="panel admin-box fixed-pannel active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>{$name}</strong>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                {notempty name="field"}
                {volist name="field" key="k" id="vo"}
                <div class="form-group">
                    <div class="label">
                        <label>{$vo.title}</label>
                    </div>
                    <div class="field">
                    	{switch vo.type}
                        	{case region}
                            <div class="js-select-child" posturl="{:url('Region/getAjaxList')}" formlength="{$vo['length'] ?? 0}" formname="{$vo['name'] ?? ''}" formvalue='{$info.region_id|default=""}' formstr="{$info.region_name|default=''}" validtype='*' notmsg='{$vo.notetext ?? ""}'></div>
                            {/case}
                        	{case text}
                            	{if empty(trim($vo.name)) && !empty($vo.disabled)}
                                <span class="field-text">{$info[$vo.name]|default=$vo.default}</span>
                                {else}
                        		<input type="text" class="input" id="{$vo['name'] ?? ''}" name="{$vo['name'] ?? ''}" size="{$vo['size'] ?? ''}" {notempty name="vo.datatype"}datatype="{$vo.datatype}"{/notempty} {notempty name="vo.disabled"} disabled="disabled"{/notempty} value="{$info[$vo.name]|default=$vo.default}">
                                {/if}
                        	{/case}
                        	{case datetime}
                        		<input type="text" class="input {$vo['class'] ?? ''}" id="{$vo['name'] ?? ''}" name="{$vo['name'] ?? ''}" size="{$vo['size'] ?? ''}" {notempty name="vo.datatype"}datatype="{$vo.datatype}"{/notempty} {notempty name="vo.disabled"} disabled="disabled"{/notempty} value="{$info[$vo.name]|default=$vo.default}">
                        	{/case}
                            {case radio}
	                            {notempty name="vo.radioList"}
	                            <div class="button-group radio">
	                            {volist name="vo.radioList" id="radio"}
	                            	<label class='button {if ($info && $radio.value == $info[$vo.name]) || (!$info && $radio.value == $vo.default)}active{/if}'>
	                            	<input name="{$vo['name'] ?? ''}" value="{$radio.value}" type="radio" {if ($info && $radio.value == $info[$vo.name]) || (!$info && $radio.value == $vo.default)} checked="checked"{/if}>{$radio.text}</label>
	                            {/volist}
	                            </div>
	                            {/notempty}
                            {/case}
                            {case uploadImg}
	                            <input type="hidden" class="input" id="{$vo['name'] ?? ''}" name="{$vo['name'] ?? ''}" size="38" value="{$info[$vo.name]|default=''}">
				                <div class="{$vo['name'] ?? ''}_preview" style="margin-bottom:10px;"><img src="{$info[$vo.name]|default='/static/base/images/default.png'}" id="{$vo['name'] ?? ''}_preview" width="120"></div>
				                <a class="button bg-main button-small js-img-upload" data="{$vo['name'] ?? ''}" preview="{$vo['name'] ?? ''}_preview" href="javascript:;" >
				                	<span class="icon-upload"> 上传</span>
				                </a>
                            {/case}
                            {case select}
	                            <select class="input" name="{$vo['name'] ?? ''}" id="{$vo['name'] ?? ''}" {notempty name="vo.datatype"}datatype="{$vo.datatype}"{/notempty}>
	                              <option value="{$vo.default|default=''}">{$vo.default_option}</option>                                   
                                   {php}$vars = (get_defined_vars());$options = $vars[$vo['options']];{/php}
	                               {foreach name="options" item="option" key="key"}
	                               {if condition="!isset($option['id'])"}
	                               	<option value="{$key}" {if ($info && $info[$vo.name] == $key)}selected="selected"{/if} >{$option}</option>
	                               {else/}
	                               	<option value="{$option.id}" {if isset($option['id']) && isset($info[$vo.name]) && ($info[$vo.name] == $option['id'])}selected="selected"{/if} >{$option.cname}</option>
	                               {/if}
	                               {/foreach}
	                            </select>
                            {/case}
                        {/switch}
                        <div class="input-note">{$vo['notetext'] ?? ''}</div>
                    </div>
                </div>
                {/volist}
                {/notempty}
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage({
        	'uploadUrl' : "{$uploadUrl ?? ''}",
        });
    }); 
</script>