<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab boxShadow">
        <div class="panel admin-box fixed-pannel active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>{$name}</strong>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                {notempty name="field"}
                {volist name="field" key="k" id="vo"}
                <div class="form-group">
                    <div class="label">
                        <label>{$vo.title}</label>
                    </div>
                    <div class="field">
                    	{switch vo.type}
                        	{case text}<input type="text" class="input" id="{$vo.name}" name="{$vo.name}" size="{$vo.size}" datatype="{$vo.datatype}" value="{$info[$vo.name]|default=$vo.default}">{/case}                        	{case radio}
                            {notempty name="vo.radioList"}
                            <div class="button-group radio">
                            {volist name="vo.radioList" id="radio"}
                            <label class='button {eq name="radio.value" value="$vo.default"} active{/eq}'><input name="{$vo.name}" value="{$radio.value}" type="radio" {eq name="radio.value" value="$vo.default"}checked="checked"{/eq}>{$radio.text}</label>
                            {/volist}
                            </div>
                            {/notempty}
                            {/case}
                            {case uploadImg}
                            <input type="hidden" class="input" id="{$vo.name}" name="{$vo.name}" size="38" value="{$info[$vo.name]|default=''}">
			                <div class="image_preview" style="margin-bottom:10px;"><img src="{$info[$vo.name]|default='/static/base/images/default.png'}" id="image_preview" width="120"></div>
			                <a class="button bg-main button-small js-img-upload" data="{$vo.name}" preview="image_preview" href="javascript:;" >
			                	<span class="icon-upload"> 上传</span>
			                </a>
                            {/case}
                            {case select}
                            <select class="input" name="{$vo.name}" id="{$vo.name}">
                              <option value="{$vo.default}">{$vo.default_option}</option>
                               {foreach name="$vo.options" item="option"}
                               <option value="{$option.id}" 
                               {if isset($option['id']) && isset($info[$vo.name]) && ($info[$vo.name] == $option['id'])}selected="selected"{/if} >{$option.cname}</option>
                               {/foreach}
                            </select>
                            {/case}
                        {/switch}
                        <div class="input-note">{$vo.notetext}</div>
                    </div>
                </div>
                {/volist}
                {/notempty}
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
		$('input[name="store_type"]').change(function(){
			var type = $(this).val();
			if(type == 2){
				$('.address').hide();
			}else{
				$('.address').show();
			}
		});
    }); 
</script>