{notempty name="table"}
<table id="table" class="table table-hover" data-sort="{$Think.get.sort}">
  <tbody>
    <tr>
    	{volist name="table" id="tb"}
        <th width="{$tb['width'] ?? 20}">{$tb.title}{if isset($tb['is_sort']) && $tb['is_sort'] == 1}<div class="sort_group" data-sort="{$tb['value'] ?? $tb['pk']}"><i class="sort-asc js-sort" data-sort="asc"></i><i class="sort-desc js-sort" data-sort="desc"></i></div>{/if}</th>
        {/volist}
    </tr>
    {notempty name="list"}
      {volist name="list" key="k" id="vo"}
        <tr>
        {volist name="table" id="td"}
        {if condition="$td && is_array($td)"}
        <td>
        	{switch td.type}
            	{case index}{$k}{/case}
                {case text}{$vo[$td['value']] ?? ''}
                	{if condition="isset($td['warning']) && $td['warning'] && isset($vo['warning']) && $vo['warning']"}
                		<span class="tag bg-red">缺货</span>
                	{/if}
                {/case}
                {case function}{php}echo call_user_func($td['function'],$vo[$td['value']]);{/php}{/case}
                {case yesOrNo}{$vo[$td['value']]?'<span class="tag bg-green">'.$td['yes'].'</span>':'<span class="tag bg-gray">'.$td['no'].'</span>'}{/case}
                {case icon}<span class="icon-{$vo[$td['value']]}"></span>{/case}
                {case image}
                	<img src="{$vo[$td['value']]|default='/static/base/images/default.png'}" width="{$td['width'] ?? 50}">
                {/case}
                {case button}
                	<span class="button-group">
                    	{volist name="td.button" id="button"}
	                    	{notempty name="button"}
		                        {switch button.action}
                                    {case edit}
                                        <a href="{:url('edit', array('id' => $vo[$td['value']]))}" class="button button-small icon-{$button.icon} {$button.bgClass}">{$button.text}</a>  
                                    {/case}
		                            {case del}
                                        <a href="javascript:;" url="{:url('del')}" class="button button-small icon-{$button.icon} {$button.bgClass} js-del" title="{$button.text}" data-id="{$vo[$td['value']]}">{$button.text}</a> 
                                    {/case}
                                    {case index}
                                    	{php}
                                        	$param = [];
                                        	foreach($button["param"] as $key=>$val){
                                            	$param[$key] = $vo[$val];
                                            }
                                        {/php}
                                        <a href="{:url('index', $param)}" class="button button-small icon-{$button.icon} {$button.bgClass}" title="{$button.text}">{$button.text}</a> 
                                    {/case}
									{case condition}
                                    	{php}
                                        $rule = $button['condition']['rule'];
                                        {/php}
                                    	{if eval("return $rule;")}
                                            {php}
                                                $value = $td['value'];
                                                if(isset($button['value']) && $button['value']){
                                                    $value = $button['value'];
                                                }
                                            {/php}
                                            {if (isset($button['js-action']) && $button['js-action'])}
                                            <a href="javascript:;" url="{:url($button.condition.action, array('id' => $vo[$value]))}" class="button button-small icon-{$button.icon} {$button.bgClass} js-action" refresh="true" title="{$button.text}">{$button.text}</a>
                                            {else/}                 		
                                            <a href="{:url($button.condition.action, array('id' => $vo[$value]))}" target="{$button.target ?? ''}" class="button button-small icon-{$button.icon} {$button.bgClass}">{$button.text}</a>
                                            {/if}
                                        {/if}
                                    {/case}
		                        	{default}
		                        		{php}
		                        			$value = $td['value'];
                                            if(isset($button['value']) && $button['value']){
                                            	$value = $button['value'];
                                            }
                                        {/php}
                                        {if (isset($button['js-action']) && $button['js-action'])}
                                        <a href="javascript:;" url="{:url($button.action, array('id' => $vo[$value]))}" class="button button-small icon-{$button.icon} {$button.bgClass} js-action" refresh="true" title="{$button.text}">{$button.text}</a>
                                        {else/}                 		
                                        <a href="{:url($button.action, array('id' => $vo[$value]))}" target="{$button.target ?? ''}" class="button button-small icon-{$button.icon} {$button.bgClass}">{$button.text}</a>
                                        {/if}
		                        {/switch}
	                        {/notempty}
                        {/volist}
                    </span>
                {/case}
            {/switch}
        </td>
        {/if}
        {/volist}
        </tr>
      {/volist}
    {/notempty}
  </tbody>
</table>
{/notempty}