<div class="panel admin-box">
	<div class="table-tools clearfix ">
        <div class="float-left">
            <form method="get" action="">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input" id="sname" name="sname" size="20" value="{$_GET['sname'] ?? ''}" placeholder="厂商名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input" id="name" name="name" size="20" value="{$_GET['name'] ?? ''}" placeholder="产品名称">
                        </div>
                    </div>
                    <div class="form-group">
						<div class="field">
							<select class="input" name="goods_type" id="goods_type">
								<option value="0">--产品类型--</option>
								{foreach name="goodsTypes" item="goodsType" key="key"}
									<option value="{$key}" {if condition="(isset($_GET['goods_type']) && $_GET['goods_type'] == $key)" }selected="selected"{/if} >{$goodsType}</option> 
								{/foreach}
							</select>
						</div>
					</div>
					<div class="form-group">
                        <div class="field">
                            <input type="text" class="input" id="sn" name="sn" size="20" value="{$_GET['sn'] ?? ''}" placeholder="产品货号">
                        </div>
                    </div>
                    <div class="form-button">
                        <button class="button" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  <div class="table-responsive">
    <table id="table" class="table table-hover ">
      <tbody>
        <tr>
          <th width="100">编号</th>
          <th width="*">厂商名称</th>
          <th width="100">产品分类</th>
          <th width="*">产品名称</th>
          <th width="*">产品类型</th>
          <th width="100">产品图片</th>
          <th width="100">产品货号</th>
          <th width="150">产品价格</th>
          <th width="100">产品库存</th>
          <th width="80">是否下架</th>
          <th width="100">排序</th>
          <th width="280">操作</th>
        </tr>
        {notempty name="list"}
          {volist name="list" id="vo"}
            <tr>
              <td>{$i}</td>
              <td>{$vo.sname}</td>
              <td>{$vo.cate_name}</td>
              <td>{$vo.name}</td>
              <td>{$goodsTypes[$vo.goods_type]}</td>
              <td><img src="{$vo.thumb|default='/static/base/images/default.png'}" id="preview_imgs" width="100"></td>
              <td>{$vo.goods_sn}</td>
              <td>
              	{$vo.min_price}
              	{if condition="$vo['max_price'] > $vo['min_price']"}
              	- {$vo.max_price}
              	{/if}
              </td>
              <td>{$vo.goods_stock}</td>
              <td>{$vo['status']?'<span class="tag bg-green">否</span>':'<span class="tag bg-red">是</span>'}</td>
              <td>{$vo['sort_order']}</td>
              <td>
              	<a href="{:url('spec', array('id' => $vo['goods_id']))}" class="button button-small bg-main icon-edit">产品规格</a>
              	<a href="{:url('edit', array('id' => $vo['goods_id']))}" class="button button-small bg-main icon-edit">编辑</a>            
                <a href="javascript:;" url="{:url('del')}" class="button button-small bg-red icon-delete js-del" title="删除" data-id="{$vo.goods_id}">删除</a>
              </td>
            </tr>
          {/volist}
        {/notempty}
      </tbody>
    </table>
  </div>
  <div class="panel-foot table-foot clearfix">{$page|raw}</div>
</div>
<script>
    Do.ready('base', function () {
       $('#table').Table({});
    });
</script>