<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel fixed-pannel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">基本信息</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                	<!-- {include file="common/factory" /} -->
                    <div class="form-group">
						<div class="label">
							<label>商品分类</label>
						</div>
						<div class="field">
							<select class="input" name="cate_id" id="cate_id" datatype="n"nullmsg="请选择商品分类！">
								{foreach name="cates" item="cate" key="key"}
									<option value="{$cate['cate_id']}" {if !$info || (isset($info['cate_id']) && $info['cate_id'] == $cate['cate_id'])}selected="selected"{/if} >{$cate.name}</option> 
								{/foreach}
							</select>
							<div class="input-note">请选择商品类型</div>
						</div>
					</div>
                    <div class="form-group">
                        <div class="label">
                            <label>商品名称</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="name" name="name" size="40" datatype="*" value="{$info['name'] ?? ''}">
                            <div class="input-note">商品名称请不要填写特殊字符</div>
                        </div>
                    </div>
                    <div class="form-group">
		                <div class="label">
		                  <label>上传图片</label>
		                </div>
		                <div class="field"> 
		                	<a class="button bg-main button-small js-multi-upload" num="1" data="imgs" id="image_upload" href="javascript:;" ><span class="icon-upload"> 批量上传</span></a>
		                  <div class="input-note note">请上传不大于2M的图片,支持多图上传(建议尺寸:500px*500px)</div>
		                </div>
		              </div>
		              <div class="imagesBox form-group clearfix" id="imgs">
		              	{if condition="$info && isset($info['imgs'])"}
		                  {volist name="info.imgs" id="vo" mod="10"}
		                	<div class="media radius clearfix">
		                      <a class="media-del icon-close" href="javascript:;" title="点击移除本图"></a>
		                      {eq name="mod" value="0"}
		                      <span>我是封面</span>
		                      {else /}
		                      <span class="uptofirst">设为封面</span>
		                      {/eq}
		                      <img src="{$vo ?? ''}" >
		                      <div class="media-body">
		                      <input name="imgs[]" type="hidden" class="input" value="{$vo ?? ''}" />
		                      </div>
		                  </div>
		                  {/volist}
		                  {/if}
		              </div>
		              <div class="form-group">
		                  <div class="label">
		                    <label>封面图片</label>
		                  </div>
		                  <div class="field">
		                    <div class="image_preview" style="margin-bottom:10px;">
		                    <input name="thumb" type="hidden" class="input title_img" value="{$info['thumb'] ?? ''}" />
		                    <img src="{$info.thumb|default='/static/base/images/default.png'}" id="preview_imgs" width="120"></div>
		                  </div>
	                </div>
	                <div class="form-group">
                        <div class="label">
                            <label>商品编码</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="goods_sn" name="goods_sn" size="40" value="{$info['goods_sn'] ?? ''}">
                            <div class="input-note">商品编码请不要填写特殊字符</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                          <label>规格明细</label>
                        </div>
                        <div class="field">
                          <div class="field-text">
                            <ul class="fieldlist">
                                {volist name="specList" id="vo"}
                                <li>
                                    <span data-id="{$vo.spec_id}" data-spec="{$vo.name}">{$vo.name}</span> : 
                                    <div class="specList"> 
                                    {volist name="vo['spec_value']" id="val"}
                                    <span data-spec="{$vo.name}" data-id="{$vo.spec_id}">{$val}</span>
                                    {/volist} 
                                    </div>
                                </li> 
                                {/volist}
                            </ul>
                            <span class="button bg-main" id="create">生成</span>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                          <label></label>
                        </div>
                        <div class="field">                
                          <div class="table-responsive" style="padding:10px 0;">
                              <table id="table" class="table table-hover ">
                                <tbody>
                                  <tr>
                                    <th width="200">商品编码</th>
                                    <th width="*">商品规格</th>
                                    <th width="100">商品价格</th>
                                    <th width="100">安装费用</th>
                                    <th width="100">库存</th>
                                    <th width="80">操作</th>
                                  </tr>
                                  {if isset($skuList)}
                                  {volist name="skuList" id="vo" empty=""}
                                    <tr class="skubox">
                                        <td><input type="hidden" name="skuid[]" value={$vo.sku_id} /><input type="hidden" name="spec_json[]" value={$vo.spec_json} />
                                        <input class="input" type="text" name="sku_sn[]" value="{$vo.sku_sn}" datatype="*" /></td>
                                        <td>{$vo.sku_name}<input type="hidden" name="spec_name[]" value="{$vo.sku_name}" datatype="*" /></td>
                                        <td><input class="input" type="text" name="price[]" size="10" value="{$vo.price}" datatype="*" /></td>
                                        <td><input class="input" type="text" name="install_price[]" size="10" value="{$vo.install_price}" datatype="*" /></td>
                                        <td><input class="input" type="number" name="sku_stock[]" size="10" value="{$vo.sku_stock}" datatype="n" /></td>
                                        <td><span class="delSpec button button-small bg-red icon-delete"></span></td>
                                    </tr>
                                  {/volist}
                                  {/if}
                                </tbody>
                              </table>
                          </div>    
                        </div>
                    </div>
                    <div class="form-group">
		                <div class="label">
		                  <label>商品最低售价</label>
		                </div>
		                <div class="field">
		                  <input type="text" class="input" id="min_price" datatype="*" {if ($info && isset($info['specs_json']) && $info['specs_json'])}readonly="readonly"{/if} name="min_price" size="12" value="{$info.min_price|default=0.00}" nullmsg="请填写商品售价！"> 元
		                  <div class="input-note"></div>
		                </div>
		            </div>
                    <!--<div class="form-group install {if (($info && $info['goods_type'] != 1))}hide{/if}">-->
		                <!--<div class="label">-->
		                  <!--<label>安装费用</label>-->
		                <!--</div>-->
		                <!--<div class="field">-->
		                  <!--<input type="text" class="input" id="install_price" name="install_price" size="12" value="{$info.install_price|default=0.00}" datatype="*" nullmsg="请填写商品安装费用！"> 元-->
		                  <!--<div class="input-note"></div>-->
		                <!--</div>-->
		              <!--</div>-->
		              
		              <div class="form-group sample {if (!$info || ($info && $info['goods_type'] != 2))}hide{/if}">
                        <div class="label">
                            <label>样品限购数量</label>
                        </div>
                        <div class="field">
                            <input type="number" min="0" class="input" id="sample_purchase_limit" name="sample_purchase_limit" value="{$info['sample_purchase_limit'] ?? ''}">
                            <div class="input-note">单个用户样品限购数量(只有样品类型的商品才有此设置  样品不需要安装费设置)</div>
                        </div>
                    </div>
		              <div class="form-group">
		                <div class="label">
		                  <label>商品库存</label>
		                </div>
		                <div class="field">
		                  <input type="number" min="0" class="input" id="goods_stock" name="goods_stock" size="12" value="{$info.goods_stock|default=0}" nullmsg="请填写商品库存！" {if condition="$info && isset($info['skuinfo']) && $info['skuinfo']"}disabled="disabled"{/if}>
		                  <div class="input-note"></div>
		                </div>
		              </div>
		              <div class="form-group">
                        <div class="label">
                            <label>库存计数</label>
                        </div>
                        <div class="field">
                            <div class="button-group radio">
                            {volist name="stockReduces" id="stockReduce"}
                                <label class='button{if (!$info && (!$info && $i == 1 ) ) || (isset($info['stock_reduce_time']) && $info['stock_reduce_time'] == $key)} active{/if}'>
                                	<input name="stock_reduce_time" value="{$key}" {if (!$info && $i == 1 ) ||(isset($info['stock_reduce_time']) && $info['stock_reduce_time'] == $key)}checked="checked"{/if} type="radio">{$stockReduce}
                                </label>
                            {/volist}
                            </div>
                            <div class="input-note">请选择库存计数类型</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>库存预警数量</label>
                        </div>
                        <div class="field">
                            <input type="number" min="0" class="input" id="stock_warning_num" name="stock_warning_num" value="{$info['stock_warning_num'] ?? 0}">
                            <div class="input-note"></div>
                        </div>
                    </div>
                    <div id="expand"></div>
                    <div class="form-group">
                        <div class="label">
                            <label>是否上架</label>
                        </div>
                        <div class="field">
                           {notpresent name="info.status"}
                                {assign name="info.status" value="1" /}
                           {/notpresent}
                            <div class="button-group radio">
                                {if condition="$info.status eq 1"}
                                <label class="button active"><input name="status" value="1" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="status" value="1" type="radio">
                                {/if}是</label>
                                {if condition="$info.status eq 0"}
                                <label class="button active"><input name="status" value="0" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="status" value="0" type="radio">
                                {/if}否</label>
                            </div>
                            <div class="input-note">下架后不在前台显示</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>排序</label>
                        </div>
                        <div class="field">
                            <input type="number" class="input" id="sort_order" name="sort_order" size="60" value="{$info.sort_order|default=1}">
                            <div class="input-note">数字小的显示在前面</div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                	<input type="hidden" name="specs_json" id="specs_json" value='{$info.specs_json|default=''}' />
                    {if isset($info['goods_id'])}
                    <button class="button bg-dot" id="dosubmit" type="submit">直接保存</button>
                    {/if}
                    <button id="next" class="button bg-main" >下一步</button>
                    <button class="button bg" type="reset">重置</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
{include file="goods/infoscript" /}