<div class="admin-detail panel">
    <div class="panel-head">
        <a href="{:url('goods/index')}"><span class="bg-main icon button icon-left">返回</span></a>
    </div>
    <form method="post" class="form-x admin-form form-auto" id="form">
        <div class="tab admin-tab">
            <div class="panel admin-box active">
                <div class="panel-head">
                    <div class="tab-head">
                        <ul class="tab-nav">
                            <li class="active"><a href="#tab-1">导入商品</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-body">
                    <div class="tab-panel active" id="tab-1">
                        <table id="table" class="table table-hover ">
                            <tbody>
                            <tr>
                                <th width="100" id="selectAll" class="no-select">全选/反选</th>
                                <th width="*">商品</th>
                                <th width="*">建议价格</th>
                                <th width="*">可选规格</th>
                                <th width="">商品编码</th>
                            </tr>
                            {notempty name="list"}
                            {volist name="list" id="vo"}
                            <tr>
                                <td><input type="checkbox" name='id[]' value="{$vo.goods_id}"></td>
                                <td>{$vo.name}</td>
                                <td>{if $vo.min_price==$vo.max_price}{$vo.min_price}{else /}{$vo.min_price}~{$vo.max_price}{/if}</td>
                                <td>{$vo.specs??''}</td>
                                <td>{$vo.goods_sn}</td>
                            </tr>
                            {/volist}
                            {/notempty}
                            </tbody>
                        </table>


                    </div>
                </div>
                {notempty name="page"}
                <div class="panel-foot table-foot clearfix">{$page|raw}</div>
                {/notempty}
                <div class="panel-foot">
                    <div class="form-button">
                        <button class="button bg" type="reset">取消</button>
                        <button class="button bg-main" type="submit" id="selectSubmit">导入</button>
                        <div id="tips"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
    });
</script>















<!--<form method="post" class="form-x admin-form form-auto" id="form">-->
<!--    <div class="tab admin-tab">-->
<!--        <div class="panel fixed-pannel admin-box active">-->
<!--            <div class="panel-head">-->
<!--                <div class="tab-head">-->
<!--                    <ul class="tab-nav">-->
<!--                        <li class="active"><a href="#tab-1">导入商品</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="tab-body">-->
<!--                <div class="tab-panel active" id="tab-1">-->
<!--                    <table id="table" class="table table-hover ">-->
<!--                        <tbody>-->
<!--                        <tr>-->
<!--                            <th width="100">多选</th>-->
<!--                            <th width="*">商品</th>-->
<!--                            <th width="*">建议价格</th>-->
<!--                            <th width="*">可选规格</th>-->
<!--                            <th width="">商品编码</th>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><input type="checkbox" name='id[]' ] id="" value="0"></td>-->
<!--                            <td>商品</td>-->
<!--                            <td>3</td>-->
<!--                            <td>4</td>-->
<!--                            <td>5</td>-->
<!--                        </tr>-->

<!--                        {notempty name="list"}-->
<!--                        {volist name="list" id="vo"}-->

<!--                        {/volist}-->
<!--                        {/notempty}-->
<!--                        </tbody>-->
<!--                    </table>-->


<!--                </div>-->
<!--            </div>-->
<!--            <div class="panel-foot">-->
<!--                <div class="form-button">-->
<!--                    <input type="hidden" name="specs_json" id="specs_json" value='{$info.specs_json|default=''}' />-->
<!--                    {if isset($info['goods_id'])}-->
<!--                    <button class="button bg-dot" id="dosubmit" type="submit">直接保存</button>-->
<!--                    {/if}-->
<!--                    <button id="next" class="button bg-main" >下一步</button>-->
<!--                    <button class="button bg" type="reset">重置</button>-->
<!--                    <div id="tips"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->




<script>
    Do.ready('base', function () {
        $('#table').Table({});
    });
</script>