<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab boxShadow">
        <div class="panel admin-box fixed-pannel active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>{if condition='input("id")'}编辑{else /}新增{/if}规格</strong>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                    <div class="form-group">
                        <div class="label">
                            <label>规格名称</label>
                        </div>
                        <div class="field">
                            <input type="text" name="name" class="input" value="{$info['name'] ?? ''}" datatype="*2-15" nullmsg="请输入规格名称，如 颜色"
                                   placeholder="请输入规格名称，如 颜色" size="30" maxlength=15>
                            <div class="input-note"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>排序</label>
                        </div>
                        <div class="field">
                            <input type="number" class="input" id="sort_order" name="sort_order" size="60"  datatype="n1-8" value="{$info.sort_order|default=1}">
                            <div class="input-note">数字小的显示在前面</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>规格值</label>
                        </div>
                        <div class="field">
                            <span class="button-group">
                                <input type="text"  id="spec-name" placeholder="请输入规格值,如 红色" class="input" size="30">
                                <input type="button" id="spec-add" class="input icon-plus bg-main" value="添加" style="border: none !important;">
                                <div class="input-note"></div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label></label>
                        </div>
                        <div class="field">
                            <div class="button-group clear spec-group ">
                                {if condition="$info && $info['value']"}
                                {volist name="info['value']" id="vo" key="k"}
                                <span class="pop-box">
                                    <input  type="hidden"  value="{$vo}" name="specname[]" />
                                    <div class="pop-content pop-border">{$vo}</div>
                                    <i class="pop-close"></i>
                                </span>
                                {/volist}
                                {/if}
                            </div>
                            <div class="input-note"></div>
                        </div>
                    </div>

                </div>
                <div class="panel-foot">
                    <div class="form-button">
                        <button class="button bg-main" type="submit">保存</button>
                        <button class="button bg" type="reset">重置</button>
                        <div id="tips"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<script>
Do.ready('base','dialog', function () {
    //表单综合处理
    $('#form').FormPage();
	$('.spec-group').on('click','.pop-close',function () {
	    $(this).parent('.pop-box').remove();
	});

	var specName=$('#spec-name');
	$('#spec-add').click(function () {
	    var name=specName.val();
	    if (!name){
	        specName.focus();
	        show_err(specName,'请输入规格值',false);
	        return false;
	    }
	    var html='<span class="pop-box">' +
	        '<input  type="hidden"  value="'+name+'" name="specname[]" />' +
	        '<div class="pop-content pop-border">'+name+'</div>' +
	        '<i class="pop-close"></i>' +
	        '</span>';
	    $('.spec-group').append(html);
	});
	specName.change(function () {
	    var len=$('.pop-box').length;
	    if (len>0){
	        hide_err($(this));
	    }
	});

	$('#form').submit(function () {
	    var len=$('.pop-box').length;
	    if (len==0){
	        specName.focus();
	        show_err(specName,'请输入规格值',true);
	        return false;
	    }
	});
});


function show_err(obj,msg,flag) {
    if (flag){
        var html = '<div class="alert alert-yellow"><strong>注意：</strong>您填写的信息未通过验证，请检查后重新提交！</div>';
        $('#tips').html(html);
    }
    var objtip=obj.siblings(".input-note");
    var className = 'check-error';
    if ( objtip.next('.js-tip').length == 0 ) {
        objtip.after('<div class="input-note js-tip">' + msg + '</div>');
        objtip.hide();
        obj.parents('.form-group').addClass(className);
    }
}

function hide_err(obj) {
    $('#tips').html('');
    var objtip=obj.siblings(".input-note");
    objtip.next('.js-tip').remove();
    obj.parents('.form-group').removeClass('check-error');
    objtip.show();
}

</script>