{if condition="$adminUser['admin_type'] == $Think.const.ADMIN_SYSTEM"}
<div class="form-group">
	<div class="label">
		<label>选择厂商</label>
	</div>
	<div class="field">
		<select class="input" name="store_id" id="store_id" datatype="n"nullmsg="请选择关联 厂商！">
			{foreach name="factorys" item="factory"}
				{assign name="store_id" value="$factory['id']"}
				<option value="{$factory.id}" {if condition="!$info || ($store_id && $info['store_id'] == $store_id)" }selected="selected"{/if} >{$factory.cname}</option>
			{/foreach}
		</select>
		<div class="input-note">请选择服务关联厂商</div>
	</div>
</div>
{elseif condition="$adminUser['store_id'] > 0 && $adminFactory"}
<div class="form-group">
    <div class="label">
        <label>厂商名称</label>
    </div>
    <div class="field">
        <input type="text" disabled="disabled" class="input" size="40" value="{$adminFactory['name'] ?? ''}">
    </div>
</div>
{assign name="store_id" value="$adminUser['store_id']"}
{/if}
