{include file="common/socket" /}
</body>
</html>
{notempty name="specialBulletins"}
<script>
Do.ready('dialog', function () {
	var winW = $(window).width();
	var winH = $(window).height();
	var offsetX = winW/2 - 300;
	var offsetY = winH/2 - 200;
	{present name="specialBulletins"}
	{volist name="specialBulletins" key="k" id="vo"}
	offsetX += 40;
	offsetY += 40;
	layer.open({
	  type: 1,
	  title: '{$vo.name}',
	  area: ['600px', '400px'], //宽高
	  offset: [offsetY+'px', offsetX+'px'],
	  content: '<div class="admin-main">{$vo.content|raw}</div>',
	  btn: ['标记已读','关闭'],
	  yes: function(index, layero){
		  var url = "{:url('/Bulletin/read',['id'=>$vo.bulletin_id])}";
		  $.post(url,function(data){
			if(data.code == 1){
				layero.close;
			}
			layer.msg(data.msg);
		  })
	  },btn2: function(index, layero){
		  layero.close;
	  }
	});
	{/volist}
	{/present}
});
</script>
{/notempty}
<script>
$(function(){
	$(".nav-tab-title li").click(function(){
		var par = $(this).parent(".nav-tab-title");
		var index = $(this).index();
		if(!$(this).hasClass("tab-active")){
			par.find("li.tab-active").removeClass("tab-active");
			par.parents(".nav-tab-list").find(".nav-tab-box").addClass("hide");			
			$(this).addClass("tab-active");
			par.parents(".nav-tab-list").find(".nav-tab-box").eq(index).removeClass("hide");
		}
	})
	$(".msgBox").click(function(){
		var msgId = $(this).data("id");
		//TODO 点击后将消息置为已读
		$(this).find("p.hide").show();
	})
})
</script>