<div class="footP{notpresent name='cart'} hidden{else/}{eq name='cart.sum' value='0'} hidden{/eq}{/notpresent}">
	<div class="footCart">
        <span class="iblock icon-top"> 清单<i id="num">{present name="cart.sum"}{$cart.sum}{else/}0{/present}</i></span>
        <span>￥</span><span id="total" t="0">{present name="cart.sum"}{$cart.amount}{else/}0.00{/present}</span>
        <a class="button bg-white icon-right float-right" href="/cart/index"> 确认</a>
    </div>

</div>
<script>
$(function(){
	$(".footCart").click(function(){		
		$(".footList").toggleClass("hidden");
	})
})
</script>