<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>{$title|default=''}</title>
    <link rel="stylesheet" href="__PUBLIC__/base/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/base/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
    <script src="__PUBLIC__/base/js/jquery.js"></script>
    <script src="__PUBLIC__/base/js/pintuer.js"></script>
    <script>
    var Config = {
        //基础配置
        'baseDir' : '__PUBLIC__/base/js/',
        'baseUrl' : '__ROOT__/',
        //自定义配置
        'libDir' : '__PUBLIC__/admin/js/',
        'sessId'  : '{:session_id()}',
		'redirect'	: '{$redirect|default=""}',
        };
    </script>
    <script src="__PUBLIC__/base/js/do.js"></script>
    <script src="__PUBLIC__/base/js/config.js"></script>
    <script src="__PUBLIC__/admin/js/definition.js"></script>
    <style>
    body,html{overflow: hidden;}
    </style>
</head>
<body class="">