{notempty name="table"}
<table id="table" class="table table-hover ">
  <tbody>
    <tr>
    	{volist name="table" id="tb"}
        <th width="{$td['width'] ?? 20}">{$tb.title}</th>
        {/volist}
    </tr>
    {notempty name="list"}
      {volist name="list" key="k" id="vo"}
        <tr>
        {volist name="table" id="td"}
        {if condition="$td && is_array($td)"}
        <td>
        	{switch td.type}
            	{case index}{$k}{/case}
                {case text}{$vo[$td['value']] ?? ''}{/case}
                {case yesOrNo}{$vo[$td['value']]?'<span class="tag bg-green">'.$td['yes'].'</span>':'<span class="tag bg-gray">'.$td['no'].'</span>'}{/case}
                {case icon}<span class="icon-{$vo[$td['value']]}"></span>{/case}
                {case image}
                	<img src="{$vo[$td['value']]|default='/static/base/images/default.png'}" width="{$td['width'] ?? 50}">
                {/case}
                {case button}
                	<span class="button-group">
                    	{volist name="td.button" id="button"}
                        {switch button.action}
                        	{case edit}<a href="{:url('edit', array('id' => $vo[$td['value']]))}" class="button button-small icon-{$button.icon} {$button.bgClass}">{$button.text}</a>{/case}
                            {case del}<a href="javascript:;" url="{:url('del')}" class="button button-small icon-{$button.icon} {$button.bgClass} js-del" title="{$button.text}" data-id="{$vo[$td['value']]}">{$button.text}</a>{/case}
                            {default}
                            	<a href="{:url($button.action, array('id' => $vo[$td['value']]))}" class="button button-small icon-{$button.icon} {$button.bgClass}">{$button.text}</a>
                        {/switch}
                        {/volist}
                    </span>
                {/case}
            {/switch}
        </td>
        {/if}
        {/volist}
        </tr>
      {/volist}
    {/notempty}
  </tbody>
</table>
{/notempty}