<script>
$(function(){
	Do.ready('dialog'); 
	//建立WebSocket通讯
	var socket = new WebSocket("ws://{$Think.config.websocket_ip}:8282");
	//连接成功时触发
	socket.onopen = function(){
		var login_data = '{$loginData|raw|default=""}';
		socket.send(login_data);
	};
	//监听收到的消息
	socket.onmessage = function(res){
		if(typeof res.data=='object'){
			var data = res.data;
		}else{
			var data = eval("("+res.data+")");
		}
		//处理收到通知消息
		function noticeMsg(){
			layer.open({
			  type: 1,
			  title: '公告提醒',
			  area: ['600px', '400px'], //宽高
			  content: '<div class="admin-main">'+data.title+'</div>',
			  btn: ['关闭'],
			  yes: function(layero, index){
				  layer.close(layero);
			  }
			});
		}
		//处理收到推送消息
		function messageMsg(){
		
		}
		//处理收到工单消息
		function workerMsg(){
		
		}
		//处理收到订单消息
		function orderMsg(){
			
		}
		switch (data.type){
			case 'login':
			break;
			case 'notice':
			noticeMsg();
			break;
			case 'message':
			messageMsg();
			break;
			case 'worker':
			break;
			case 'order':
			break;
		}
	};
	socket.onerror = function(e) {
		  console.log(e);
    };
})
</script>