<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>渠道商信息</strong>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                	{include file="common/factory" /}
                	<div class="form-group">
                        <div class="label">
                            <label>渠道商名称</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="name" name="name" size="40" datatype="*" value="{$info['name'] ?? ''}">
                            <div class="input-note">渠道商名称请不要填写特殊字符</div>
                        </div>
                    </div>
                    <div class="form-group js-select" posturl="{:url('Cgrade/getAjaxList', ['factory_id' => $info && $info['factory_id'] ? $info['factory_id']: $factory_id])}" str="选择渠道等级" searchName="请输入等级名称" formname="cgrade_id" formvalue='{$info.cgrade_id ?? 0}' validtype="*"></div>
                	<div class="form-group">
                        <div class="label">
                            <label>登录用户名</label>
                        </div>
                        <div class="field">
                        	{if condition="isset($user) && $user"}
                            <input type="text" class="input" disabled="disabled" value="{$user['username'] ?? ''}">
                            {else}
                            <input type="text" class="input" id="username" name="username" size="40" datatype="*" value="{$user['username'] ?? ''}">
                            {/if}
                            <div class="input-note">请填写登录用户名(用户名格式:5-16位字符长度,只能由英文数字下划线组成)</div>
                        </div>
                    </div>
                    <div class="form-group address">
                        <div class="label">
                            <label>登录密码</label>
                        </div>
                        <div class="field">
                            <input type="password" class="input" id="password" name="password" size="40" value="">
                            <div class="input-note">请填写登录密码(密码格式:长度在5~20之间，只能由英文数字下划线组成)</div>
                        </div>
                    </div>
                    <div class="form-group address">
                        <div class="label">
                            <label>联系电话</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="mobile" name="mobile" size="20" value="{$info['mobile'] ?? ''}">
                            <div class="input-note">请填写联系电话</div>
                        </div>
                    </div>
                    <div class="form-group address">
                        <div class="label">
                            <label>渠道商地址</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="address" name="address" size="60" value="{$info['address'] ?? ''}">
                            <div class="input-note">请填写渠道商地址</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>显示状态</label>
                        </div>
                        <div class="field">
                           {notpresent name="info.status"}
                                {assign name="info.status" value="1" /}
                           {/notpresent}
                            <div class="button-group radio">
                                {if condition="$info.status eq 1"}
                                <label class="button active"><input name="status" value="1" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="status" value="1" type="radio">
                                {/if}
                                可用</label>
                                {if condition="$info.status eq 0"}
                                <label class="button active"><input name="status" value="0" checked="checked" type="radio">
                                {else /}
                                <label class="button"><input name="status" value="0" type="radio">
                                {/if}
                                禁用</label>
                            </div>
                            <div class="input-note">禁用后不会在前台显示</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>排序</label>
                        </div>
                        <div class="field">
                            <input type="number" class="input" id="sort_order" name="sort_order" size="60" value="{$info.sort_order|default=1}">
                            <div class="input-note">开启自定义排序有效</div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
		$('#factory_id').change(function(){
			var id = $(this).val();
			if(id > 0){
				$(".js-select").selectsin({
					'datatype' 	: 'n',
					'str' 		: '选择渠道等级',
					'searchName': '请输入等级名称',
					'name' 		: 'cgrade_id',
					'id' 		: '{$factory_id}',
					'postUrl' 	: "/Cgrade/getAjaxList/factory_id/"+id,
				});
			}else{
				$('.js-select').hide();
			}
		});
    }); 
</script>