<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">基本信息</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                	<div class="form-group">
                        <div class="label">
                            <label>显示标题</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="title" name="title" datatype="*" size="40" value="{$info.title|default=''}">
                            <div class="input-note">列表显示字段标题</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>显示宽度</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="width" name="width" datatype="*" size="40" value="{$info.width|default='*'}">
                            <div class="input-note">列表字段宽度,*表示自动</div>
                        </div>
                    </div>
                    <div class="form-group js-type-select">
                        <div class="label">
                            <label>字段内容</label>
                        </div>
                        <div class="field">
                        	<input type="hidden" name="type" id="type" datatype="*" value="{$info.type|default=''}">
                        	<select class="input">
                                <option value="">--请选择类型--</option>
                                <option value="1">字段值</option>
                                <option value="2">函数处理</option>
                                <option value="3">索引</option>
                                <option value="4">图标</option>
                                <option value="5">图片</option>
                                <option value="6">操作按钮</option>
                            </select>
                            <div class="input-note">请选择字段内容处理方式</div>
                        </div>
                    </div>
                    <div class="textExtend">
                        <div class="form-group hide textType functionType iconType imageType">
                            <div class="label">
                                <label>字段值</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="field" name="field" size="40" value="{$info.field|default=''}">
                                <div class="input-note">字段值请谨慎填写</div>
                            </div>
                        </div>
                        <div class="form-group hide functionType">
                            <div class="label">
                                <label>函数名称</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="function" name="function" size="40" value="{$info.function|default=''}">
                                <div class="input-note">函数名称请谨慎填写</div>
                            </div>
                        </div>
                        <div class="form-group hide textType">
                            <div class="label">
                                <label>是否支持编辑</label>
                            </div>
                            <div class="field">
                               {notpresent name="info.is_edit"}
                                    {assign name="info.is_edit" value="0" /}
                               {/notpresent}
                                <div class="button-group radio">
                                    {if condition="$info.is_edit eq 1"}
                                    <label class="button active"><input name="is_edit" value="1" checked="checked" type="radio">
                                    {else /}
                                    <label class="button"><input name="is_edit" value="1" type="radio">
                                    {/if}
                                    可编辑</label>
                                    {if condition="$info.is_edit eq 0"}
                                    <label class="button active"><input name="is_edit" value="0" checked="checked" type="radio">
                                    {else /}
                                    <label class="button"><input name="is_edit" value="0" type="radio">
                                    {/if}
                                    不可编辑</label>
                                </div>
                                <div class="input-note">设置为可编辑后,字段值在双击的时候,会变成可编辑框,修改后会自动更新数据</div>
                            </div>
                        </div>
                        <div class="form-group hide textType indexType">
                            <div class="label">
                                <label>是否支持字段排序</label>
                            </div>
                            <div class="field">
                               {notpresent name="info.is_sort"}
                                    {assign name="info.is_sort" value="0" /}
                               {/notpresent}
                                <div class="button-group radio">
                                    {if condition="$info.is_sort eq 1"}
                                    <label class="button active"><input name="is_sort" value="1" checked="checked" type="radio">
                                    {else /}
                                    <label class="button"><input name="is_sort" value="1" type="radio">
                                    {/if}
                                    可排序</label>
                                    {if condition="$info.is_sort eq 0"}
                                    <label class="button active"><input name="is_sort" value="0" checked="checked" type="radio">
                                    {else /}
                                    <label class="button"><input name="is_sort" value="0" type="radio">
                                    {/if}
                                    不可排序</label>
                                </div>
                                <div class="input-note">设置为可排序后,列表上回出现排序按钮,点击按该字段升序/倒序排列</div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>排序</label>
                        </div>
                        <div class="field">
                            <input type="number" class="input" id="sort_order" name="sort_order" size="60" value="{$info.sort_order|default='255'}">
                            <div class="input-note">开启自定义排序有效</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <input type="hidden" name="model_id" id="model_id" value="{$Request.param.pid|default=0}">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', 'tablelist' ,function () {
        //表单综合处理
        $('#form').FormPage(); 
		$('#form').TableList(); 
		init();		//初始化编辑
		function init(){}
    }); 
</script>