@charset "utf-8";
.goodsInfo{ padding:20px;}
/* 商品详情 */
.goodsPicBox{ width:350px;}
.goodsPicBox .jqzoom{ position:relative; z-index:100;}
.goodsPicBox .zoomImg{ width:100%;}

.goodsText .specBox{ padding:10px 0; font-size:12px; line-height:26px; color:#888;}
.goodsText .specBox p{ position:relative; margin:0px 0; overflow:hidden;}
.goodsText .specBox p b{ font-weight:normal; width:100px; display:inline-block; float:left;}
.goodsText .specBox p.spec span{ display:inline-block; padding:0 10px; border:1px dashed #ccc; height:18px; line-height:18px; margin-right:5px; cursor:pointer;} 
.goodsText .specBox p.spec span.active{border:1px solid #009688;}
.goodsText .specBox p #skuText{ display:inline-block; padding:0 10px; margin-left:20px; color:#fff; background:#df4949;line-height:26px; font-size:12px;}
.nums_item{ display:inline-block; height:25px; line-height:25px; text-align:center; border-radius:5px; overflow:hidden;}
.nums_item .nums_btn { width: 25px; height:25px; line-height: 25px; color: #fff; display: inline-block; font-size:13px;}
.nums_item .nums_btn[active='no'] { background: #eeeeee;}
.nums_item .nums { width: 40px; line-height: 23px;text-align: center; border-width:1px; border-style:solid; margin:0px; padding:0px; border-radius:0px; outline:none; font-size:14px;}
.goodsText .goodsTitle{ font-size:20px; color:#444;}
.goodsText .subTitle{ font-size:14px; color:#888; padding:10px 0 30px;}
.goodsText .subTitle .notice{ display:block; font-size:12px; color:#FF5D99; padding-top:10px;}
.goodsButton{ margin-top:20px;}
.goodsButton .button{text-align:center; margin-right:20px; cursor: pointer;}

#thumblist{ margin:10px 0; width:350px; overflow:hidden;}
#thumblist a{ display:inline-block; margin-right:10px; border:1px solid #bababa; width:60px; height:60px;}
#thumblist a.zoomThumbActive{border:1px solid #009688;}

.goodsText{color:#333; margin-left:370px; min-height:430px;}
.goodsText .priceBox{background:#f6f6f6;padding:20px;font-size:13px;}
.goodsText .priceBox p b{ font-weight:normal; width:100px; display:inline-block; color:#666;}
.goodsText .priceBox p span{font-size:18px;}
.goodsText .priceBox p #salePrice{ font-style:normal; font-size:32px;}


input{ outline:none; box-shadow:none;-webkit-appearance:none; border-radius:3px;}
/* 边框 */
.border { border: 1px solid #eee; }
.border-top { border-top: 1px solid #eee; }
.border-bottom { border-bottom: 1px solid #eee; }
.border-left { border-left: 1px solid #eee; }
.border-right { border-right: 1px solid #eee; }

/* 内间距 */
.pad-5 { padding: 5px; }
.pad-left-5 { padding-left: 5px; }
.pad-right-5 { padding-right: 5px; }
.pad-top-5 { padding-top: 5px; }
.pad-bottom-5 { padding-bottom: 10px; }
.pad-10 { padding: 10px; }
.pad-left { padding-left: 10px; }
.pad-right { padding-right: 10px; }
.pad-top { padding-top: 10px; }
.pad-bottom { padding-bottom: 10px; }

/* 外间距 */
.mar-5 { margin: 5px; }
.mar-left-5 { margin-left: 5px; }
.mar-right-5 { margin-right: 5px; }
.mar-top-5 { margin-top: 5px; }
.mar-bottom-5 { margin-bottom: 5px; }
.mar-10 { margin: 10px; }
.mar-left { margin-left: 10px; }
.mar-right { margin-right: 10px; }
.mar-top { margin-top: 10px; }
.mar-bottom { margin-bottom: 10px; }

/* 字体：大小 */
.font-size-12 { font-size: 12px; }
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }

/* 字体：颜色 */
.font-red { color: #FF5D99; }
.font-black { color: #000000; }
.font-white { color: #ffffff; }
.font-gray { color: #666666; }
.font-pink { color: #FF5D99; }

._gray {-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
/* 字体：样式 */
.font-normal { font-style: normal; }
.font-blod { font-weight: bold; }

/* 字体：对齐方式 */
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

/* 字体：行高 */
.line-h-20 { line-height: 20px; }
.line-h-30 { line-height: 30px; }
.line-h-40 { line-height: 40px; }

/* 行高 */
.a_line_40 { height: 40px; line-height: 40px; }

/* 分割距离 */
.split_line_10 , .split_line_15 , .split_line_20 { width:100%; clear: both; background-color: #eeeeee; overflow:hidden;}
.split_line_10 { height: 10px; }
.split_line_15 { height: 15px; }
.split_line_20 { height: 20px; }
.split_line_50 { height: 50px; }
.split_line_60 { height: 60px; }

/* 定位 */
.pos_relative { position: relative; }

/* 没有更多数据 */
.no_more_data { line-height: 30px;text-align: center; color:#666; font-size:16px;}

.mallHeader{ margin-top:20px;}
.mallBanner{}
.mallBanner .banner{ width:930px; float:right; overflow:hidden;}
.mallBanner .banner li,.mallBanner .bannerWarp{ width:930px;}
.mallBanner .banner .bannerIco{ right:20px;}
.mall-header{ background:#fff; margin-bottom:20px;}

.cateMenu li{ border-bottom:1px solid #ccc; padding:22px 40px 22px 30px; font-size:18px; color:#666; height:55px;}
.cateMenu li i{ margin-right:10px; display:inline-block; height:50px; width:50px; float:left; overflow:hidden; border-radius:50%;}
.cateMenu li i img{ float:left;}
.cateMenu li:last-child{ border-bottom:none; padding-bottom:23px;}
.cateMenu li:hover{ background:#FF5D99; color:#fff;}
.cateMenu li:hover a{ color:#fff;}
.cateMenu li p a{ font-size:12px; color:#888;}

.cateMenu{ width:260px; height:300px; background:#fcfcfc; float:left; box-shadow:0 0 10px rgba(0,0,0,.6);}
.cateInfo{ padding:0px 10px;}
.cateInfo .cateMenu{ height:auto; display:none; left:0;box-shadow:0 4px 10px rgba(0,0,0,.6);}
.cateInfo:hover{ background:#fcfcfc;box-shadow:0 0 10px rgba(0,0,0,.6);}
.cateInfo:hover .cateMenu{ display:inline-block;}
.cateInfo .cateMenu li{ padding:10px 40px 10px 30px; height:auto;}
.cateInfo .cateMenu li p{ line-height:20px;}






.mallMenu{ margin:30px 0; font-size:18px;}
.mallMenu>li{ height:42px; line-height:42px; float:left; margin-right:20px; border-bottom:2px solid rgba(255,255,255,0);z-index:999999;}
.mallMenu>li.active{ border-bottom:3px solid #333;}
.mallMenu>li.active:hover{border-bottom:3px solid #FF5D99;}
.mallMenu>li.active:hover a{ color:#FF5D99;}



/* 首页：商品分类 */
.cat_menu{ padding: 15px 0 0; text-align: center; }
.cat_menu li { width: 25%; padding: 0 0 15px; display: inline-block; }
.cat_menu a { display: inline-block; width:60px; height:60px; margin:0 auto; border:1px solid #e8e8e8; padding:5px; border-radius:3px;}
.cat_menu img {width: 50px; margin: auto; display: inline-block; }

/* 商品分类页面 */
.cate_title { width: 100%; text-indent: 10px; line-height: 30px; font-weight: bold; }
.cate_title a { width: 100%; display: inline-block; }
.cate_child { width: 96%; padding: 0 2% 10px; border-top: 1px solid #eee; }
.cate_child a { width: 30.3%; margin: 0 1%; display: inline-block; text-align: center; }
.cate_child a img { width: 100%; }

/* 商品列表：一行两个 */
.goods_mode {}
.goods_mode li { width:283px;margin:0 9px 10px 0;display:inline-block;}
.goods_mode li>.goodsWrap{ display:block; padding:10px; border: 1px solid #e8e8e8;}
.goods_mode li>.goodsWrap:hover{ box-shadow:0px 1px 10px #FF5D99;border: 1px solid rgba(255,255,255,0);}
.goods_mode li>.goodsWrap a{ display:block; overflow:hidden; padding-bottom:70px;}
.goods_mode li>.goodsWrap a span{ display:block;}
.goods_mode li>.goodsWrap{}
.goods_mode li:nth-child(4n+0){margin-right:0px;}
.goods_mode img { width: 100%; height: auto; margin: auto; display: inline-block; }
.goods_mode .goodsName{width:100%;line-height:30px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; font-size:16px;}
.goods_mode .goodsInfo{ height:70px; bottom:0px; left:0px; padding:10px; width:263px;}
.goods_mode .goodsInfo .info-top{display: none;position: absolute;width: 100%;height: 13px;top: -13px;left: 0;background: url(../images/showboxtxt.png) no-repeat top center;background-size: cover;}
.goods_mode .goodsInfo .goodsDesc{ display:none; height:30px; overflow:hidden;}
.goods_mode .goodsPrice {width:100%;display:inline-block; clear:both;}
.goods_mode .goodsPrice em{color:#ff5d99;font-size:20px;font-style:normal;line-height:35px;}
.goods_mode li:hover .goodsInfo{ height:100px; background-color:rgba(250,90,150,.6); color:#fff;}
.goods_mode li:hover .goodsInfo .info-top{ display:block;}
.goods_mode li:hover .goodsInfo .goodsDesc{ display:block;color:#fff;}
.goods_mode li:hover .goodsPrice em{ color:#fff;}
/* 商品列表：一行一个 */
.goods_list { overflow:hidden;}
.goods_list li {position: relative; padding:10px 0; overflow:hidden; border-top:1px solid #eee;}
.goods_list li:first-child{ border:none;}
.goods_list li:hover{ background:#f5f5f5;}
.goods_list .goods_item { padding:0px 10px; }
.goods_list .goods_img { display: inline-block; }
.goods_list .goods_img img { width: 100px; height: 100px; display: inline-block; }
.goods_list .g_name {height:30px;line-height:30px;overflow: hidden; float: right;width: 900px;}
.goods_list .g_it { width:900px; margin: 0; display: inline-block; clear: both; float: right; }
.goods_list .g_it p{ color:#888; margin-top:15px;}
.goods_list .g_it em {color:#FF5D99; font-size: 16px; font-style: normal; line-height: 25px;}
.goods_list .nums_item{ left:260px;}






.payTitle{line-height:40px; border-bottom:2px solid #FF5D99; padding-bottom:10px; margin-bottom:10px;}
.payTitle h3{ color:#FF5D99; font-size:18px; font-weight:normal;}
.payTitle .buttonGroup{ /*width:450px;*/ background:#e8e8e8; border-radius:5px; overflow:hidden;}
.payTitle .buttonGroup div{ float:left; width:150px; height:40px;text-indent:60px; font-size:14px; position:relative;}
.payTitle .buttonGroup div.mainbg{ color:#fff;}
.payTitle .buttonGroup div i{background:#e8e8e8; position:absolute; width:40px; height:40px; display:inline-block; border:3px solid #fff; right:-20px; top:-1px; border-radius:8px;transform:rotate(45deg); border-left:none; border-bottom:none; z-index:1;}
.payTitle .buttonGroup div.mainbg i{ background:#FF5D99;}

.table{width:100%;max-width:100%;border-collapse:collapse;border-spacing:0;font-size:14px;}
.table th{border-bottom:2px solid #ddd;vertical-align:bottom;padding:15px 8px;text-align:left; }
.table td{border-top:1px solid #ddd;padding:10px 8px;vertical-align: middle;}
.table td p{ color:#888; margin-top:10px;}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{background-color:#f9f9f9;}/*条纹-IE9以下无效果*/
.table-bordered th,.table-bordered td{border:solid 1px #ddd;}
.table-bordered th{border-bottom:2px solid #ddd;}
.table-hover > tbody > tr:hover > td,.table-hover > tbody > tr:hover > th{background-color:#f5f5f5;}/*不支持IE6*/
.table-condensed th,.table-condensed td{padding:5px;}

.payOrderTitle{ margin:10px 0; font-size:14px;}
.payOrderTitle i{ font-style:normal; color:#FF5D99; font-size:22px;}
.payBox{ width:900px; margin:20px auto;}
.payBox .payNotic{ background:url(../images/weixin-3.jpg) no-repeat; width:320px; height:320px; margin-top:50px;}
.payBox .payQrode{ text-align:center; width:500px; padding:30px 0;}
.payBox .Qrnotic{background:url(../images/weixin-notice.jpg) no-repeat center center; width:260px; height:100px; margin:0 auto;}

/* 购物车 */
.cartBottom{ padding:20px 0;}
.check_item , .check_all { width: 21px; height: 21px; border: 1px solid #ccc; border-radius: 50%; position: absolute; top: 39px; left: 5px; }
.address_cont .check_item { top: 8px; left: 15px; }
.address_cont .isdefault { padding-left: 40px; }
.check_all {top:20px;}
.check_item div , .check_all div{ background-color: #f2f2f2; width: 15px; height: 15px; margin: 3px; border-radius: 50%; }
.check_item.choose , .check_all.choose{ border: 1px solid #FF5D99;  }
.check_item.choose div , .check_all.choose div { background-color: #FF5D99;  }
.del_btn {}
.goods_item1  .remark { border: 1px solid #eee; width: 97%; padding: 0 1%; line-height: 25px; }
.total_amount{ font-size:18px; margin-left:50px; color:#666;}
.total_amount span{ font-size:20px; color:#FF5D99;}

/* 确认订单 */
.addressList{ margin-bottom:10px;}
.order_address { position: relative; background:linear-gradient(45deg,#ccc 12.5%,#fff 12.5%,#fff 25%,#ccc 25%,#ccc 37.5%,#fff 37.5%,#fff 50%,#ccc 50%,#ccc 62.5%,#fff 62.5%,#fff 75%,#ccc 75%,#ccc 87.5%,#fff 87.5%,#fff 100%);background-size: 66px 66px; overflow:hidden; margin-right:10px; width:282px; height:100px;}
.order_address:last-child{ margin:0;}
.order_address:hover{background-image:linear-gradient(45deg,#5590d6 12.5%,#fff 12.5%,#fff 25%,#5590d6 25%,#5590d6 37.5%,#fff 37.5%,#fff 50%,#5590d6 50%,#5590d6 62.5%,#fff 62.5%,#fff 75%,#5590d6 75%,#5590d6 87.5%,#fff 87.5%,#fff 100%);}
.order_address.active,.order_address.active:hover{background-image:linear-gradient(45deg,#FF5D99 12.5%,#fff 12.5%,#fff 25%,#5590d6 25%,#5590d6 37.5%,#fff 37.5%,#fff 50%,#FF5D99 50%,#FF5D99 62.5%,#fff 62.5%,#fff 75%,#5590d6 75%,#5590d6 87.5%,#fff 87.5%,#fff 100%);}
.order_address .addressBox{ background:#fff; margin:5px; padding:10px 15px; height:70px;}
.order_address .addressBox .button{ right:15px; top:20px;}
.order_address .order_addr_name { line-height: 20px; font-size: 14px; }
.order_address .order_addr_detail { line-height: 30px; font-size: 14px; }
.dir_right { line-height: 100%; position: absolute; right: 5px; top: 40%; width: 20px; height: 20px; }
.dir_right img { width: 100%; }
.order_address a.add_address {text-align:center;display:block;margin:5px;background:#fff;padding:17px 0;}
.order_address a.add_address span{ display:inline-block; width:50px;height:50px;line-height:50px;color:#ccc;font-size:22px;border:3px solid #ccc;border-radius:50%;}
.order_address a.add_address:hover span{ color:#5590d6;border:3px solid #5590d6;}
.info_bottom .total_amount { float: right; padding-right:20px;line-height:50px;font-size:18px;color:#999;}
.info_bottom span { font-size: 20px; color: #FF5D99; }

/* 我的订单 */
.menu_four { width: 100%; overflow:hidden; padding-bottom:10px;}
.menu_four a { width: 25%; float: left; text-align: center; line-height: 35px; font-size: 16px; border-bottom:2px solid #fff;}
.menu_four a.active { color: #FF5D99; border-bottom:2px solid #FF5D99;}
.order_list { margin:10px 0;}
.order_list li { width: 100%; display: inline-block; }
.order_list .order_item { width: 100%; display: inline-block; }
.order_list .order_head { width:100%; border-bottom: 1px solid #ddd; line-height: 30px; display: inline-block; margin-bottom:10px;}
.order_list .order_goods { position:relative;}
.order_list .g_name { padding: 5px 0 5px 0; height: 40px; line-height: 20px; overflow: hidden; float: right; width: 1040px;  }
.order_list img { width: 100px; height: 100px; display: inline-block; }
.order_list .g_it {position:absolute; bottom:0px; left:120px;}
.order_list .g_it em { color: #FF5D99; font-size: 18px; font-style: normal; font-weight:normal; line-height: 25px; /*padding-left: 5px;*/ }
.order_btn { background-color: #FF5D99; color: #fff; border-radius: 3px; padding: 3px 0; width: 60px; display: inline-block; text-align: center; }
.order_cancel_btn { background-color: #ccc; }
.item_line { line-height: 35px; }

/* 搜索 */
.search_cont { margin:30px 0; display:inline-block; width:480px; height:45px; border: 1px solid #ccc; border-radius: 23px;position: relative; overflow:hidden;}
.search_cont button {font-size:24px; color:#ccc; width:60px; height:38px;}
.search_cont input {line-height: 45px; height:45px; border: 0 none; outline: none; width:415px; text-indent:25px; margin:0px; padding:0px; font-size:14px; color:#666; font-family:"Microsoft YaHei";}
.addr_edit_btn { position: absolute; right: 40px; top: 30px;}
.addr_del_btn { position: absolute; right: 5px; top: 30px;}
.address_add_btn { width: 92%; background-color: #FF5D99; margin: 0 4%; display: inline-block; line-height: 30px; text-align: center; color: #fff; font-size: 14px; border-radius: 5px; margin-top: 10px; }
.address_del_btn { background-color: #ddd; }

/* 收货地址 */

