@charset "utf-8";
.goodsInfo{ padding:20px;}
/* 商品详情 */
.goodsPicBox{ width:350px;}
.goodsPicBox .jqzoom{ position:relative; z-index:100;}
.goodsPicBox .zoomImg{ width:100%;}

.goodsText .specBox{ padding:10px 0; font-size:14px; line-height:40px; color:#888;}
.goodsText .specBox p{ position:relative; margin:0px 0; overflow:hidden;}
.goodsText .specBox p b{ font-weight:normal; width:100px; display:inline-block; float:left;}
.goodsText .specBox p.spec span{ display:inline-block; padding:0 10px; border:1px dashed #ccc; height:30px; line-height:30px; margin-right:5px; cursor:pointer;} 
.goodsText .specBox p.spec span.active{border:1px solid #009688;}
.goodsText .specBox p #skuText{ display:inline-block; padding:0 10px; margin-left:20px; color:#fff; background:#df4949;line-height:26px; font-size:12px;}
.nums_item{ display:inline-block; height:36px; line-height:36px; text-align:center; border-radius:5px; overflow:hidden; margin-top:2px;}
.nums_item .nums_btn { width: 36px; height:36px; line-height: 36px; color: #fff; display: inline-block; font-size:14px;}
.nums_item .nums_btn[active='no'] { background: #eeeeee;}
.nums_item .nums { width: 50px; line-height: 34px;text-align: center; border-width:1px; border-style:solid; margin:0px; padding:0px; border-radius:0px; outline:none; font-size:14px;}
.goodsText .goodsTitle{ font-size:20px; color:#444;}
.goodsText .subTitle{ font-size:14px; color:#888; padding:10px 0 30px;}
.goodsText .subTitle .notice{ display:block; font-size:12px; color:#FF5D99; padding-top:10px;}

#thumblist{ margin:10px 0; width:350px; overflow:hidden;}
#thumblist a{ display:inline-block; margin-right:10px; border:1px solid #bababa; width:60px; height:60px;}
#thumblist a.zoomThumbActive{border:1px solid #009688;}

.goodsText{color:#333; margin-left:370px; min-height:430px;}
.goodsText .priceBox{background:#f6f6f6;padding:20px;font-size:13px;}
.goodsText .priceBox p b{ font-weight:normal; width:100px; display:inline-block; color:#666;}
.goodsText .priceBox p span{font-size:18px;}
.goodsText .priceBox p #salePrice{ font-style:normal; font-size:32px;}

