<div class="tab admin-tab">
    <div class="panel admin-box active">
        <div class="panel-head">
            <div class="tab-head">
                <ul class="tab-nav">
                	<li class="active"><a href="#tab-0">师傅端二维码</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-body">
        	<div class="tab-panel active" id="tab-0">
                <div class="form-group">
                <div class="label">
                </div>
                <div class="field">
                  <div class="image_preview" style="margin-bottom:10px;">
                  <img src="{$codeUrl|default='/static/base/images/default.png'}"></div>
                </div>
             </div>
                
            </div>
    </div>
</div>
