<div class="line-big col-space15">
	<div class="xm8">
    	<div class="line-big col-space15">
        	<div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-head"><span>新老客户比例</span></div>
                    <div class="panel-body">
                       
                    </div>
                </div>
            </div>
        	<div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-head"><span>新老客户比例</span></div>
                    <div class="panel-body">
                       
                    </div>
                </div>
            </div>
            <div class="xm12">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-head"><span>新老客户比例</span></div>
                    <div class="panel-body">
                       
                    </div>
                </div>
            </div>
            <div class="xm12">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-head"><span>新老客户比例</span></div>
                    <div class="panel-body">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xm4">
    	<div class="panel admin-dashboard boxShadow">
        	<div class="panel-head"><span>新老客户比例</span></div>
            <div class="panel-body">
               
            </div>
        </div>
    </div>
</div>

<script>
Do.ready('base', 'dialog', function () {
})
</script>