<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">修改资料</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                    <div class="form-group">
                        <div class="label">
                            <label>登录账号</label>
                        </div>
                        <div class="field">
                        	<span class="field-text">{$adminUser.username|default=''}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>所属平台</label>
                        </div>
                        <div class="field">
                        	<span class="field-text">{:get_admin_type($adminUser['admin_type'])}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>管理员角色</label>
                        </div>
                        <div class="field">
                        	<span class="field-text">{$info['group']['name'] ?? '管理员'}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>显示昵称</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="nickname" name="nickname" size="40" value="{$info['nickname'] ?? ''}">
                            <div class="input-note">请填写账号昵称(别名)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>真实姓名</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="realname" name="realname" size="40" value="{$info['realname'] ?? ''}">
                            <div class="input-note">请填写负责人真实姓名</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>联系电话</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="phone" name="phone" size="40" value="{$info['phone'] ?? ''}">
                            <div class="input-note">请填写负责人联系电话</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
		
    }); 
</script>