<form class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">工单评价</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                	{present name="config"}
                        {volist name="config" id="vo"}
                        <div class="form-group">
                            <div class="label">
                                <label>{$vo.name}</label>
                            </div>
                            <div class="field">
                                <div class="field-text">
                                    <input type="hidden" name="score[{$vo.config_id}]" datatype="*">
                                    <span class="starBox">
                                    {for start="0" end="$vo.config_value"}                                
                                    <i class="icon-star"></i>
                                    {/for}
                                    </span>
                                </div>
                                <div class="input-note"></div>
                            </div>
                        </div>
                        {/volist}
                    {/present}               
                    <div class="form-group">
                        <div class="label">
                            <label>评价内容</label>
                        </div>
                        <div class="field">
                        	<textarea class="input" id="msg" name="msg" rows="6" cols="60"></textarea>
                            <div class="input-note">请客观填写服务评价内容</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                	<input type="hidden" name="type" value="{$type}">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
		$('.starBox').on('click','i',(function(){
			var total = $(this).parent('.starBox').find('i').length;
			var num = $(this).index()+1;
			$(this).parent().prev().val(num);
			var html = '';
			for(i=0;i<num;i++){
				html += '<i class="icon-star-full"></i> ';
			}
			for(i=0;i<(total-num);i++){
				html += '<i class="icon-star"></i> ';
			}
			$(this).parent('.starBox').html(html);
		}))
    }); 
</script>