<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>工单信息</strong>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                	{include file="common/factory" /}
                	<div class="form-group">
						<div class="label">
							<label>工单类型</label>
						</div>
						<div class="field">
							<select class="input" name="order_type" id="order_type" datatype="*" nullmsg="请选择工单类型！">
								<option value="">==工单类型==</option>
								{foreach name="orderTypes" item="orderType" key="key"}
									<option value="{$key}" {if condition="isset($info['order_type']) && $info['order_type'] == $key" }selected="selected"{/if} >{$orderType}</option> 
								{/foreach}
							</select>
							<div class="input-note">请选择工单类型</div>
						</div>
					</div>
					<div class="form-group js-select" posturl="{:url('Goods/getAjaxList', ['store_id' => $factory_id])}" str="选择售后产品" searchName="请输入产品名称" formname="goods_id" formvalue='{$info.goods_id ?? 0}' validtype='*'></div>
					<div class="form-group goods_skus hide">
						<div class="label">
							<label>产品属性</label>
						</div>
						<div class="field">
							<select class="input" name="sku" id="sku" nullmsg="请选择产品属性！">
								<option value="">==选择产品属性==</option>
							</select>
						</div>
					</div>
                    <div class="form-group">
                        <div class="label">
                            <label>客户名称</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="user_name" name="user_name" size="40" datatype="*" value="{$info['user_name'] ?? ''}">
                            <div class="input-note">请填写客户名称</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>客户联系电话</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="phone" name="phone" size="40" datatype="*" value="{$info['phone'] ?? ''}">
                            <div class="input-note">请填写联系电话</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>选择区域</label>
                        </div>
                        <div class="field">
                            <div class="js-select-child" posturl="{:url('Region/getAjaxList')}" formlength="2" formname="region_id" formvalue='{$info.region_id|default=""}' formstr="{$info.region_name|default=''}" validtype='*'></div>
                            <div class="input-note">请选择行政区域</div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="label">
                            <label>客户联系地址</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="address" name="address" size="60" datatype="*" value="{$info['address'] ?? ''}">
                            <div class="input-note">请填写客户联系地址</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>预约服务时间</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input js-time" datatype="*" id="appointment" name="appointment" size="40" value="{$info['appointment']|date='Y/m/d H:i'}">
                            <div class="input-note">请填写预约服务时间</div>
                        </div>
                    </div>
	                <div class="form-group fault_desc {if condition='!$info || $info.order_type != 2'}hide{/if}">
                        <div class="label">
                            <label>故障详情</label>
                        </div>
                        <div class="field">
                        	<textarea class="input" id="fault_desc" name="fault_desc" rows="6" cols="60">{$info['fault_desc'] ?? ''}</textarea>
                            <div class="input-note">故障报修时请简要描述故障信息</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                    <input type="hidden" name="sku_id" id="sku_id" value="{$info['sku_id'] ?? 0}">
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();  
        var goodsId = "{$info['goods_id'] ?? 0}";
        var skuId = "{$info['sku_id'] ?? 0}";
        if(goodsId > 0 && skuId > 0){
        	getSkus(goodsId, skuId);
        	//$("select[name='goods_id']").find("option[val='"+skuId+"']").click();
        }
        $('#form').on("change","select[name='goods_id']",function(){
			var goodsId = $(this).children('option:selected').val();
			getSkus(goodsId);
		})
		$('#sku').change(function(){
			var skuid = $(this).val();
			if(skuid > 0){
				$("#sku_id").val(skuid);
			}
		});
        $('#order_type').change(function(){
			var order_type = $(this).val();
			$(".fault_desc").hide();
			if(order_type == 2){
				$(".fault_desc").show();
			}
		});
        function getSkus(goodsId, skuId = 0)
        {
        	if(goodsId){
				$.post('{:url("goods/getSkuList")}', {goods_id: goodsId}, function(result){
        			var item = result.data;
        			if(item.length > 0){
        				if(item.length > 1){
        					var html = '<option value="">==选择产品属性==</option>';
            				$.each(item, function(i, value) {
            					html += '<option value="'+value.id+'" '+(skuId ? 'selected="selected"' : '')+'>'+value.name+'</option>';
            				});
            				$("#sku").html(html);
            				$("#sku_id").val(skuId ? skuId : 0);
            				$(".goods_skus").show();
        				}else{
        					$("#sku_id").val(skuId ? skuId : item[0]['id']);
        					$(".goods_skus").hide();
        				}
        			}else{
        				layer.alert('产品异常');
        				$("#sku_id").html('');
        				$(".goods_skus").hide();
        			}
        		});
			}
        }
    }); 
</script>