<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>订单支付</strong>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                	<!-- <div class="form-group">
                        <div class="label">
                            <label></label>
                        </div>
                        <div class="field">
                            <label>请在<span>{$order.cancel_countdown}</span>分钟内完成支付,超时订单会自动取消</label>
                        </div>
                    </div> -->
					 <div class="form-group">
                        <div class="label">
                            <label>应付金额</label>
                        </div>
                        <div class="field">
                        	<span class="field-text">{$order['real_amount']} 元</span>
                        </div>
                    </div>
                    {if condition="$step == 1"}
					<div class="form-group">
                        <div class="label">
                            <label>选择支付方式</label>
                        </div>
                        <div class="field">
                            {if condition="$payments"}
                            	{volist name="payments" id="vo"}
                            	<!-- <input type="radio" class="input" name="pay_code" size="40" datatype="*" checked="checked" value="{$vo['pay_code']}">{$vo['name']} -->
                            	<a {if ($vo['pay_code'] == 'alipay_page')}target="_blank"{/if} href="{:url('pay', ['order_sn' => $order['order_sn'], 'step' => 2, 'pay_code' => $vo['pay_code']])}"  class="button button-small bg-main" title="立即付款">{$vo['name']}</a>
                            	{/volist}
                            {/if}
                        </div>
                    </div>
                    {elseif condition="isset($code_url)"/}
                    <div class="form-group">
                        <div class="label">
                            <label>扫码支付</label>
                        </div>
                        <div class="field">
                            <div id="qrcode"></div>
                        </div>
                    </div>
                    {/if}
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <a href="{:url('myorder/index')}" class="button bg-main">我的订单列表</a>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', 'qrcode', function () {
        //表单综合处理
        $('#form').FormPage();
		{if isset($code_url)}
		$('#qrcode').qrcode({width: 180,height: 180,text: "{$code_url}",foreground: '#666'});
		{/if}
    }); 
</script>