<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel fixed-pannel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>订单支付</strong>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                	<!-- <div class="form-group">
                        <div class="label">
                            <label></label>
                        </div>
                        <div class="field">
                            <label>请在<span>{$order.cancel_countdown}</span>分钟内完成支付,超时订单会自动取消</label>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="label">
                            <label>订单号</label>
                        </div>
                        <div class="field">
                        	<span class="field-text">{$order.order_sn}</span>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="label">
                            <label>应付金额</label>
                        </div>
                        <div class="field">
                        	<span class="field-text">{$order['real_amount']} 元</span>
                        </div>
                    </div>
                    {if $step == 1 && $order['pay_status'] ==0}
                    <div class="form-group">
                        <div class="label">
                            <label>选择支付方式</label>
                        </div>
                        <div class="field">
                            {if condition="$payments"}
                            	{volist name="payments" id="vo"}
                            	<a {if ($vo['pay_code'] == "alipay_page")}target="_blank"{/if} href="{:url('pay', ['order_sn' => $order['order_sn'], 'step' => 2, 'pay_code' => $vo['pay_code']])}"  class="button button-small bg-main" title="立即付款">{$vo['name']}</a>
                            	{/volist}
                            {/if}
                        </div>
                    </div>
                    {elseif isset($code_url)/}
                    <div class="form-group waitpay">
                        <div class="label">
                            <label>扫码支付</label>
                        </div>
                        <div class="field">
                            <div id="qrcode"></div>
                        </div>
                    </div>
                    {elseif $step == 3  && $order['pay_status'] ==0/}
                    <div class="form-group waitpay">
                        <div class="label">
                            <label></label>
                        </div>
                        <div class="field">
                            <p class="field-text">正在等待支付结果...</p>
                            <span class="field-text">您可以<a>重新选择支付方式</a> 或者 <a>取消订单</a></span>
                        </div>
                    </div>
                    {/if}
                    <div class="form-group paydone {if $order['pay_status'] !=1}hide{/if}">
                        <div class="label">
                            <label></label>
                        </div>
                        <div class="field">
                        	<span class="field-text">订单支付成功</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <a href="{:url('/myorder/index')}" class="button bg-main icon-back"> 回到列表</a>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base','dialog', 'qrcode', function () {
        //表单综合处理
        $('#form').FormPage();
		{if $order['pay_status'] !=1}
		var orderSn = "{$order.order_sn}";
		var flag = false;
		function checkOrderStatus(){
			var checkUrl = '{:url("/myorder/getorder")}'+'/sn/'+orderSn;
			var re = false;
			$.ajax({ 
			  type : "get", 
			  url : checkUrl, 
			  async : false, 
			  success : function(data){ 
				if(data.code == 1){
					var payData = data.data;
					re = payData.pay_status;
				}else{
					layer.msg(data.msg);
				}
			  } 
			});
			return re;
		}
		//定时检查订单状态
		var interval = setInterval(function(){
			if(flag) {
				//提示支付成功
				layer.msg("支付成功");
				$(".paydone").show();
				$(".waitpay").hide();
				clearInterval(interval);
			}else{
				flag = checkOrderStatus();
			};
		}, 1000);
		{/if}
		{if isset($code_url)}
		$('#qrcode').qrcode({width: 180,height: 180,text: "{$code_url}",foreground: '#666'});
		{/if}
    }); 
</script>