<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">售后退款</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
					 <div class="form-group">
                        <div class="label">
                            <label>退款金额</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" size="8" disabled="disabled" value="{$info['refund_amount']}">元
                        </div>
                    </div>
					<div class="form-group">
                        <div class="label">
                            <label>转账流水号</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="transfer_no" name="transfer_no" size="60" datatype="s" value="">
                            <div class="input-note">请输入退款转账流水号</div>
                        </div>
                    </div>    
                    <div class="form-group">
			            <div class="label">
			              <label>操作备注</label>
			            </div>
			            <div class="field">
			              <textarea class="input" id="remark" name="remark" rows="5" cols="60"></textarea>
			              <div class="input-note">请输入操作备注</div>
			            </div>
			          </div>  
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();  
    }); 
</script>