<div class="panel admin-box">
	<div class="table-tools clearfix ">
        <div class="float-left">
            <form method="get" action="{:url('index')}">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input" id="name" name="name" size="40" value="{$_GET['name'] ?? ''}" placeholder="角色名称">
                        </div>
                    </div>
                    <div class="form-button">
                        <button class="button" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  <div class="table-responsive">
    <table id="table" class="table table-hover ">
      <tbody>
        <tr>
          <th width="100">编号</th>
          <th width="*">角色名称</th>
          <th width="80">状态</th>
          <th width="100">排序</th>
          <th width="220">操作</th>
        </tr>
        {notempty name="list"}
          {volist name="list" id="vo"}
            <tr>
              <td>{$i}</td>
              <td>{$vo.name}</td>
              <td>{$vo['status']?'<span class="tag bg-green">可用</span>':'<span class="tag bg-red">禁用</span>'}</td>
              <td>{$vo.sort_order}</td>
              <td>
              	{:get_tag_a('编辑', ['href' => ['edit', array('id' => $vo['group_id'])], 'class' => 'button button-small bg-main icon-edit'])}
              	{:get_tag_a('删除', ['href' => 'javascript:;', 'url' => ['del'], 'class' => 'button button-small bg-red icon-delete js-del', 'title' => "删除"])}
              	
              	{if condition="$adminUser['group_id'] != 1"}
	              	<a href="{:url('edit', array('id' => $vo['group_id']))}" class="button button-small bg-main icon-edit">编辑</a>
	              	{if condition="$vo['store_id'] != 0"}
	              	<a href="javascript:;" url="{:url('del')}" class="button button-small bg-red icon-delete js-del" title="删除" data-id="{$vo.group_id}">删除</a>
	              	{/if}
              	{/if}
                <a href="{:url('purview', array('id' => $vo['group_id']))}" class="button button-small bg-yellow icon-setting">授权</a>
              </td>
            </tr>
          {/volist}
        {/notempty}
      </tbody>
    </table>
  </div>
  <div class="panel-foot table-foot clearfix">{$page|raw}</div>
</div>
<script>
    Do.ready('base', function () {
       $('#table').Table({});
    });
</script>