<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">授权详情</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                    <table id="table" class="table table-hover">
                        <thead> 
                            <tr>
                                <th width="80">编号</th>
                                <th width="200">父权限</th>
                                <th width="*">子权限</th>
                            </tr>
                        </thead>                           
                        <tbody>
                            {volist name="rules" id="vo"}
                            <tr class="checkgroup">
                                <td>{$vo.id}</td>
                                
                                <td>
                                    <div class="checkbox data-all {in name="$vo.id" value="$grouppurview"}checked{/in}">
                                        <input type="checkbox" class="top" {in name="$vo.id" value="$grouppurview"}checked{/in} name="rule[]" value="{$vo.id}" >
                                        <i class="icon-check"></i><span>{$vo.title}</span>
                                    </div>
                                </td>
                                <td>
                                    {notempty name="vo.list"}
                                    {volist name="vo.list" id="v"}
                                    {eq name="$v.parent_id" value="$vo.id"}
                                        <div class="checkbox data-single {in name="$v.id" value="$grouppurview"}checked{/in}">
                                            <input type="checkbox" class="child" {in name="$v.id" value="$grouppurview"}checked{/in} name="rule[]" value="{$v.id}" />
                                            <i class="icon-check"></i><span>{$v.title}</span>
                                        </div>
                                    {/eq}
                                    {/volist}
                                    {/notempty}                                
                                </td>                                
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
		
    }); 
</script>