<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">授权详情</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                    <table id="table" class="table table-hover">
                        <thead> 
                            <tr>
                                <th width="100">编号</th>
                                <th width="*">子权限</th>
                            </tr>
                        </thead>
                           
                        <tbody>
                            {volist name="rules" id="vo"}
                            {eq name="$vo.parent_id" value="0"}
                            <tr>
                                <td>{$vo.id}</td>
                                
                                <td>
                                <div class="button-group">
                                    <div class="checkbox">
                                    <label class='button labelbutton data-all{in name="$vo.id" value="$grouppurview"} active{/in}'><input type="checkbox" class="top" {in name="$vo.id" value="$grouppurview"}checked{/in} name="rule[]" value="{$vo.id}" >{$vo.title}</label>
                                    
                                    {volist name="rules" id="v"}
                                    {eq name="$v.parent_id" value="$vo.id"}
                                        <label class='button labelbutton data-single{in name="$v.id" value="$grouppurview"} active{/in}'><input type="checkbox" class="child" {in name="$v.id" value="$grouppurview"}checked{/in} name="rule[]" value="{$v.id}" />{$v.title}</label>
                                    {/eq}
                                    {/volist}
                                    </div>
                                </div>
                                </td>
                                
                            </tr>
                            {/eq}
                            {/volist}
                          
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>