<div class="line-big col-space15">
	<div class="xm8">
    	<div class="line-big col-space15">
        	<div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-body">
                    	<div class="panel-block flex-container">
                       		<div class="flex-item num-item-box">
                            	<h4>今日订单数量</h4>
                                <div class="item-num">{$today.order_count}</div>
                            </div>                            
                            <div class="flex-item num-item-box">
                            	<h4>累计订单数量</h4>
                                <div class="item-num">{$total.order_count}</div>
                            </div>
                       </div>
                       <div class="panel-block flex-container">
                       		<div class="flex-item num-item-box">
                            	<h4>今日订单金额</h4>
                                <div class="item-num">￥{$today.order_amount}</div>
                            </div>                            
                            <div class="flex-item num-item-box">
                            	<h4>累计订单金额</h4>
                                <div class="item-num">￥{$total.order_amount}</div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        	<div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-body">
                    	<div class="panel-block flex-container">
                       		<div class="flex-item num-item-box">
                            	<h4>今日新增零售商数量</h4>
                                <div class="item-num">{$today.dealer_count}</div>
                            </div>                            
                            <div class="flex-item num-item-box">
                            	<h4>累计零售商数量</h4>
                                <div class="item-num">{$total.dealer_count}</div>
                            </div>
                       </div>
                       <div class="panel-block flex-container">
                       		<div class="flex-item num-item-box">
                            	<h4>累计渠道商数量</h4>
                                <div class="item-num">{$total.channel_count}</div>
                            </div>                            
                            <div class="flex-item num-item-box">
                            	<h4>累计服务商数量</h4>
                                <div class="item-num">{$total.service_count}</div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-head"><span>财务概况</span></div>
                    <div class="panel-body">
                       <div class="panel-block flex-container">
                       		<div class="flex-item num-item-box">
                            	<h4>累计保证金金额</h4>
                                <div class="item-num">￥{$total.security_money_total}</div>
                            </div>                            
                            <div class="flex-item num-item-box">
                            	<h4>渠道商累计提现金额</h4>
                                <div class="item-num">￥{$total.channel_withdraw_amount}</div>
                            </div>
                            <div class="flex-item num-item-box">
                            	<h4>服务商累计提现金额</h4>
                                <div class="item-num">￥{$total.servicer_withdraw_amount}</div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-head"><span>工单概况</span></div>
                    <div class="panel-body">
                       <div class="panel-block flex-container">
                       		<div class="flex-item num-item-box">
                            	<h4>累计安装工单数量</h4>
                                <div class="item-num">{$total.workorder_1_count}</div>
                            </div>                            
                            <div class="flex-item num-item-box">
                            	<h4>累计维修工单数量</h4>
                                <div class="item-num">{$total.workorder_2_count}</div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xm4">
    	<div class="panel admin-dashboard boxShadow">
           <div class="panel-body">
           	<div class="panel-block flex-container">
              		<div class="flex-item num-item-box">
                   	<h4>今日售后工单数量</h4>
                       <div class="item-num">{$today.workorder_count}</div>
                   </div>                            
                   <div class="flex-item num-item-box">
                   	<h4>累计售后工单数量</h4>
                       <div class="item-num">{$total.workorder_count}</div>
                   </div>
              </div>
              <div class="panel-block flex-container">
              		<div class="flex-item num-item-box">
                   	<h4>累计售后工程师数</h4>
                       <div class="item-num">{$total.installer_count}</div>
                   </div>                            
              </div>
           </div>
       </div>
    </div>
</div>