<div class="line-big col-space15">
    <div class="xm8">
        <div class="line-big col-space15">
            <div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-body">
                        <div class="panel-block flex-container">
                            <div class="flex-item num-item-box">
                                <h4>今日订单数量</h4>
                                <div class="item-num">{$today.order_count}</div>
                            </div>
                            <div class="flex-item num-item-box">
                                <h4>今日订单金额</h4>
                                <div class="item-num">￥{$today.order_amount}</div>
                            </div>
                        </div>
                        <div class="panel-block flex-container">
                            <div class="flex-item num-item-box">
                                <h4>累计订单数量</h4>
                                <div class="item-num">{$total.order_count}</div>
                            </div>
                            <div class="flex-item num-item-box">
                                <h4>累计订单金额</h4>
                                <div class="item-num">￥{$total.order_amount}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="xm12">
        <div class="panel admin-dashboard boxShadow">
            <div class="panel-head"><span>订单概况</span></div>
            <div class="panel-body">
                <div class="js-chart" id="orderChart" style="height:400px;" data-chart='{$chart_overview|default=""}'></div>
            </div>
        </div>
    </div>
    <div class="xm12">
        <div class="panel admin-dashboard boxShadow">
            <div class="panel-head"><span>订单金额统计</span></div>
            <div class="panel-body">
                <div class="js-chart" id="chart_amount" style="height:400px;" data-chart='{$chart_amount|default=""}'></div>
            </div>
        </div>
    </div>
</div>