<div class="line-big col-space15">
    <div class="xm8">
        <div class="line-big col-space15">
            <div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-body">
                        <div class="panel-block flex-container">
                            <div class="flex-item num-item-box">
                                <h4>今日佣金收益</h4>
                                <div class="item-num">￥{$today.commission_amount}</div>
                            </div>
                            <div class="flex-item num-item-box">
                                <h4>累计佣金收益</h4>
                                <div class="item-num">￥{$total.commission_amount}</div>
                            </div>
                        </div>
                        <div class="panel-block flex-container">
                            <div class="flex-item num-item-box">
                                <h4>今日安装工单数量</h4>
                                <div class="item-num">{$today.workorder_count_1}</div>
                            </div>
                            <div class="flex-item num-item-box">
                                <h4>累计安装工单数量</h4>
                                <div class="item-num">{$total.workorder_count_1}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-body">
                        <div class="panel-block flex-container">
                            <div class="flex-item num-item-box">
                                <h4>今日维修工单数量</h4>
                                <div class="item-num">{$today.workorder_count_2}</div>
                            </div>
                            <div class="flex-item num-item-box">
                                <h4>累计维修工单数量</h4>
                                <div class="item-num">{$total.workorder_count_2}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xm6">
                <div class="panel admin-dashboard boxShadow">
                    <div class="panel-body">
                        <div class="panel-block flex-container">
                            <div class="flex-item num-item-box">
                                <h4>累计零售商数量</h4>
                                <div class="item-num">{$total.}</div>
                            </div>
                            <div class="flex-item num-item-box">
                                <h4>累计服务商数量</h4>
                                <div class="item-num">{$total.}</div>
                            </div>
                        </div>
                        <div class="panel-block flex-container">
                            <div class="flex-item num-item-box">
                                <h4>今日新增零售商数量</h4>
                                <div class="item-num">{$today.}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
