<div class="admin-detail panel">
    <div class="panel-head">
        <a href="{:url('index', ['type' => $info['work_order_type']])}"><span class="bg-main icon button icon-left">返回</span></a>
    </div>
    <form class="form-x admin-form form-auto" id="form">
        <div class="tab admin-tab">
            <div class="panel admin-box active">
                <div class="panel-head">
                    <div class="tab-head">
                        <ul class="tab-nav">
                            <li class="active"><a href="#tab-1">基本信息</a></li>
                            <li><a href="#tab-2">商品信息</a></li>
                            <li><a href="#tab-5">工程师提交数据</a></li>
                            <li><a href="#tab-4">评价记录</a></li>
                            <li><a href="#tab-3">日志信息</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-body">
                    <div class="tab-panel active" id="tab-1">
                        <div class="form-group">
                            <div class="label">
                                <label>工单类型</label>
                            </div>
                            <div class="field">
                                <span class="field-text">{$orderTypes[$info['work_order_type']] ?? ''}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>客户名称</label>
                            </div>
                            <div class="field">
                                <span class="field-text">{$info['user_name'] ?? ''}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>客户联系电话</label>
                            </div>
                            <div class="field">
                                <span class="field-text">{$info['phone'] ?? ''}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>客户联系地址</label>
                            </div>
                            <div class="field">
                                <span class="field-text">{$info['region_name'] ?? ''} {$info['address'] ?? ''}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>预约服务时间</label>
                            </div>
                            <div class="field">
                                <span class="field-text">{$info['appointment']|date='Y-m-d H:i'}</span>
                            </div>
                        </div>


                        {if $info['work_order_type']==2}
                        <div class="form-group fault_desc">
                            <div class="label">
                                <label>备注信息</label>
                            </div>
                            <div class="field">
                                <span class="field-text">{$info['fault_desc'] ?? ''}</span>
                            </div>
                        </div>
                        {/if}

                        {notempty name="postConfig.work_add_info"}
                        {volist name="postConfig.work_add_info" id="vo"}
                        <div class="form-group">
                            <div class="label">
                                <label>{$vo.name}</label>
                            </div>
                            <div class="field">
                                {switch $vo.type }
                                {case 0}<span class="field-text">{$vo.config_value ?? ''}</span>{/case}
                                {case 1}<span class="field-text">{$vo.config_value ?? ''}</span>{/case}
                                {case 2}
                                <div class="button-group">
                                    {foreach $vo.value as $k=>$v }
                                    <label data-config-value="{$vo.config_value}" data-key="{$k}"  class="button {if $vo.config_value !=='' && $vo.config_value!==null && $k==$vo.config_value}active{/if}"><input  size="40" type="radio"  {if $k==$vo.config_value}checked="checked"{/if}>{$v}</label>
                                    {/foreach}
                                </div>
                                {/case}
                                {case 3}
                                <div class="button-group">
                                    {foreach $vo.value as $k=>$v}
                                    <div class="checkbox data-single {if $vo['config_value'] && in_array($k,$vo['config_value'])}checked{/if}">
                                        <input type="checkbox" class="top" disabled {if $vo['config_value'] && in_array($k,$vo.config_value)}checked="checked"{/if}>
                                        <i class="icon-check"></i><span>{$v}</span>
                                    </div>
                                    {/foreach}
                                </div>
                                {/case}
                                {case 4}
                                <select class="input cate-select" disabled>
                                <option value="">==请选择==</option>
                                {foreach $vo.value as $k=>$v}
                                <option {if isset($vo['config_value'][0]) &&  $k==$vo['config_value'][0]}selected="selected"{/if}>{$v}</option>
                                {/foreach}
                                </select>
                                {/case}
                                {case 5}<span class="field-text">{$vo.config_value??''}</span>{/case}
                                {case 6}<textarea class="input" rows="6" cols="60" disabled>{$vo.config_value??""}</textarea>{/case}
                                {case 7}
                                <div  style="margin-bottom:10px;"><img src="{$vo.config_value??'/static/base/images/default.png'}"  width="120"></div>
                                {/case}
                                {default /}
                                {/switch}
                                <div class="input-note"></div>
                            </div>
                        </div>
                        {/volist}
                        {/notempty}
                        {if condition='$info && $info.images'}
                        <div class="imagesBox form-group clearfix" id="imgs">
                            {if condition="$info && isset($info['images'])"}
                            {volist name="info.images" id="vo" mod="10"}
                            <div class="media radius clearfix">
                                <img src="{$vo ?? ''}" >
                                <div class="media-body">
                                </div>
                            </div>
                            {/volist}
                            {/if}
                        </div>
                        {/if}
                    </div>
                    <div class="tab-panel" id="tab-2">
                        {if condition="$info['sub'] && isset($info['sub']['ossub_id']) && $info['sub']['ossub_id']"}
                        <div class="form-group">
                            <div class="label">
                                <label>订单号</label>
                            </div>
                            <div class="field">
                                <span class="field-text">{$info['sub']['order_sn'] ?? ''}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>商品名称</label>
                            </div>
                            <div class="field">
                                <span class="field-text">{$info['sub']['sku_name'] ?? ''}  {$info['sub']['sku_spec'] ?? ''}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>商品图片</label>
                            </div>
                            <div class="field">
                                <div class="image_preview" style="margin-bottom:10px;">
                                    <img src="{$info['sub']['sku_thumb']|default='/static/base/images/default.png'}" id="preview_imgs" width="120"></div>
                            </div>
                        </div>
                        {else/}
                        <div class="form-group">
                            <div class="label">
                                <label>商品名称</label>
                            </div>
                            <div class="field">
                                <span class="field-text">{$info['sub']['name'] ?? ''}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>商品图片</label>
                            </div>
                            <div class="field">
                                <div class="image_preview" style="margin-bottom:10px;">
                                    <img src="{$info['sub']['thumb']|default='/static/base/images/default.png'}" id="preview_imgs" width="120"></div>
                            </div>
                        </div>
                        {/if}
                    </div>
                    <div class="tab-panel" id="tab-3">
                        <div class="table-responsive">
                            <table id="table" class="table table-hover ">
                                <tbody>
                                <tr>
                                    <th width="*">操作用户</th>
                                    <th width="*">操作</th>
                                    <th width="*">操作备注</th>
                                    <th width="*">操作时间</th>
                                </tr>
                                {notempty name="info.logs"}
                                {volist name="info.logs" id="vo"}
                                <tr>
                                    <td>{$vo.nickname}</td>
                                    <td>{$vo.action}</td>
                                    <td title="{$vo.msg|raw}" {if condition="strpos($vo.msg,'签到地址')!==false"} data-positon="{$info['sign_address'] ?? ''}" class="position"{/if}>{:sub_str($vo.msg,80)}</td>
                                    <td>{$vo['add_time']|date='Y-m-d H:i:s'}</td>
                                </tr>
                                {/volist}
                                {/notempty}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-panel" id="tab-4">
                        {notempty name="postConfig.assess_info"}
                        {volist name="postConfig.assess_info" id="vo"}
                        <div class="form-group">
                            <div class="label">
                                <label>{$vo.name}</label>
                            </div>
                            <div class="field">
                                {switch $vo.type }
                                {case 0}<span class="field-text">{$vo.config_value ?? ''}</span>{/case}
                                {case 1}<span class="field-text">{$vo.config_value ?? ''}</span>{/case}
                                {case 2}
                                <div class="button-group">
                                    {foreach $vo.value as $k=>$v }
                                    <label data-config-value="{$vo.config_value}" data-key="{$k}" class="button {if $vo.config_value !=='' && $vo.config_value!==null &&  $k==$vo.config_value}active{/if}"><input  size="40" type="radio"  {if $k==$vo.config_value}checked="checked"{/if}>{$v}</label>
                                    {/foreach}
                                </div>
                                {/case}
                                {case 3}
                                <div class="button-group">
                                    {foreach $vo.value as $k=>$v}
                                    <div class="checkbox data-single {if $vo['config_value'] && in_array($k,$vo['config_value'])}checked{/if}">
                                        <input type="checkbox" class="top" disabled {if $vo['config_value'] && in_array($k,$vo.config_value)}checked="checked"{/if}>
                                        <i class="icon-check"></i><span>{$v}</span>
                                    </div>
                                    {/foreach}
                                </div>
                                {/case}
                                {case 4}
                                <select class="input cate-select" disabled>
                                    <option value="">==请选择==</option>
                                    {foreach $vo.value as $k=>$v}
                                    <option {if isset($vo['config_value'][0]) &&  $k==$vo['config_value'][0]}selected="selected"{/if}>{$v}</option>
                                    {/foreach}
                                </select>
                                {/case}
                                {case 5}<span class="field-text">{$vo.config_value??''}</span>{/case}
                                {case 6}<textarea class="input" rows="6" cols="60" disabled>{$vo.config_value??""}</textarea>{/case}
                                {case 7}
                                <div  style="margin-bottom:10px;"><img src="{$vo.config_value??'/static/base/images/default.png'}"  width="120"></div>
                                {/case}
                                {default /}
                                {/switch}
                                <div class="input-note"></div>
                            </div>
                        </div>
                        {/volist}
                        {/notempty}


                        {present name="postConfig.score_info"}
                        {volist name="postConfig.score_info" id="vo"}
                        <div class="form-group">
                            <div class="label">
                                <label>{$vo.name}</label>
                            </div>
                            <div class="field">
                                <div class="field-text">
                                    <span class="starBox">
                                    {for start="0" end="$vo.config_value"}
                                    <i class="icon-star-full"></i>
                                    {/for}
                                    </span>
                                </div>
                                <div class="input-note"></div>
                            </div>
                        </div>
                        {/volist}
                        {/present}

                        {notempty name="postConfig.append_msg"}
                        <div class="form-group">
                            <div class="label">
                                <label>追加评价</label>
                            </div>
                            <div class="field">
                                <textarea class="input" disabled rows="6" cols="60">{$postConfig.append_msg??""}</textarea>
                                <div class="input-note"></div>
                            </div>
                        </div>
                        {/notempty}



                    </div>
                    <div class="tab-panel" id="tab-5">
                        {notempty name="postConfig.work_info"}
                        {volist name="postConfig.work_info" id="vo"}
                        <div class="form-group">
                            <div class="label">
                                <label>{$vo.name}</label>
                            </div>
                            <div class="field">
                                {switch $vo.type }
                                {case 0}<span class="field-text">{$vo.config_value ?? ''}</span>{/case}
                                {case 1}<span class="field-text">{$vo.config_value ?? ''}</span>{/case}
                                {case 2}
                                <div class="button-group">
                                    {foreach $vo.value as $k=>$v }
                                    <label data-config-value="{$vo.config_value}" data-key="{$k}" class="button {if $vo.config_value !=='' && $vo.config_value!==null &&  $k==$vo.config_value}active{/if}"><input  size="40" type="radio"  {if $k==$vo.config_value}checked="checked"{/if}>{$v}</label>
                                    {/foreach}
                                </div>
                                {/case}
                                {case 3}
                                <div class="button-group">
                                    {foreach $vo.value as $k=>$v}
                                    <div class="checkbox data-single {if $vo['config_value'] && in_array($k,$vo['config_value'])}checked{/if}">
                                        <input type="checkbox" class="top" disabled {if $vo['config_value'] && in_array($k,$vo.config_value)}checked="checked"{/if}>
                                        <i class="icon-check"></i><span>{$v}</span>
                                    </div>
                                    {/foreach}
                                </div>
                                {/case}
                                {case 4}
                                <select class="input cate-select" disabled>
                                    <option value="">==请选择==</option>
                                    {foreach $vo.value as $k=>$v}
                                    <option {if isset($vo['config_value'][0]) &&  $k==$vo['config_value'][0]}selected="selected"{/if}>{$v}</option>
                                    {/foreach}
                                </select>
                                {/case}
                                {case 5}<span class="field-text">{$vo.config_value??''}</span>{/case}
                                {case 6}<textarea class="input" rows="6" cols="60" disabled>{$vo.config_value??""}</textarea>{/case}
                                {case 7}
                                <div  style="margin-bottom:10px;"><img src="{$vo.config_value??'/static/base/images/default.png'}"  width="120"></div>
                                {/case}
                                {default /}
                                {/switch}
                                <div class="input-note"></div>
                            </div>
                        </div>
                        {/volist}
                        {/notempty}
                        </div>
                    

                    {if condition="$info['assess_list']"}
                    <div class="tab-panel" id="tab-4888888">
                        <div class="table-responsive">
                            <table id="table" class="table table-hover ">
                                <tbody>
                                <tr>
                                    <th width="*">评价用户</th>
                                    <th width="*">评价类型</th>
                                    <th width="*">评价内容</th>
                                    <th width="*">评价时间</th>
                                </tr>
                                {notempty name="info.assess_list"}
                                {volist name="info.assess_list" id="vo"}
                                <tr>
                                    <td>{$vo.nickname}</td>
                                    <td>{$vo.type == 1 ? '首次评价' : '追加评价'}</td>
                                    <td>
                                        {if ($vo['type'] == 1)}
                                        {volist name="vo.configs" id="v"}
                                        <div class="field-text">
                                            {$v['name']}:<span class="ml5 starBox icon-star-full">{$v.score}</span>
                                        </div>
                                        {/volist}
                                        {/if}
                                        评价内容:<span class="ml5">{$vo.msg|raw}</span>
                                    </td>
                                    <td>{$vo['add_time']|date='Y-m-d H:i:s'}</td>
                                </tr>
                                {/volist}
                                {/notempty}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {/if}
                </div>
                <div id="test" style="height: 500px"></div>
                <!--<div class="panel-foot">-->
                    <!--<div class="form-button">-->
                        <!--<a href="{:url('index', ['type' => $info['work_order_type']])}" class="button bg-main">返回列表</a>-->
                        <!--<div id="tips"></div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </form>
</div>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
    });

    window.onload=function () {
        var geo = new qq.maps.Geocoder();
        geo.getLocation('中国,广州,沙太路268号');//地址
        geo.setComplete(function (res) {
            console.log(res,res.detail.location);//得到经纬度
            var map = new qq.maps.Map(document.getElementById('test'),{
                center: res.detail.location,//将经纬度加到center属性上
                zoom: 16,//缩放
                draggable: true,//是否可拖拽
                scrollwheel: true,//是否可滚动缩放
                disableDoubleClickZoom: false
            });
            var marker = new qq.maps.Marker({ position: res.detail.location,//标记的经纬度
                animation: qq.maps.MarkerAnimation.BOUNCE,//标记的动画 map: map//标记的地图
            });
            var citylocation = new qq.maps.CityService({
                //设置地图
                map : map,
                complete : function(results){
                    console.log(9999,results);
                }
            });
        });
    };





</script>
<style>
.position{cursor: pointer;}
.position:hover{text-decoration: underline;color: #009688;}
</style>





