<div class="admin-detail panel">
    <div class="panel-head">
        <a href="{:url('index', ['type' => $info['work_order_type'] ?? 1])}"><span class="bg-main icon button icon-left">返回</span></a>
    </div>
    <form method="post" class="form-x admin-form form-auto" id="form">
        <div class="tab admin-tab">
            <div class="panel admin-box active">
                <div class="panel-head">
                    <div class="tab-head">
                        <ul class="tab-nav">
                            <li class="active"><a href="#tab-1">客服工单</a></li>
                            <!-- <li><a href="#tab-2">商品信息</a></li> -->
                        </ul>
                    </div>
                </div>
                <input type="hidden" name="sku_id" value="{$info.sku_id ?? 0}">
                <div class="tab-body">
                    <div class="tab-panel active" id="tab-1">
                        <div class="form-group">
                            <div class="label">
                                <label>客户名称</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="user_name" name="user_name" size="40" datatype="*" value="{$info['user_name'] ?? ''}">
                                <div class="input-note">请填写客户名称</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>客户联系电话</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="phone" name="phone" size="40" datatype="*" value="{$info['phone'] ?? ''}">
                                <div class="input-note">请填写联系电话</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>工单类型</label>
                            </div>
                            <div class="field">
                                <div class="button-group radio">
                                    <label class="button"><input name="work_type" value="0" type="radio" datatype="*">安装工单</label>
                                    <label class="button"><input name="work_type" value="1" type="radio" datatype="*">维修工单</label>
                                </div>
                                <div class="input-note">请选择工单类型</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>客户地址</label>
                            </div>
                            <div class="field">
                                <div class="js-select-child" posturl="{:url('Region/getAjaxList')}" formlength="2" formname="region_id" formvalue='{$info.region_id|default=""}' formstr="{$info.region_name|default=''}" validtype='*'></div>

                                <input type="text" class="input mt5" id="address" name="address" size="60" datatype="*" value="{$info['address'] ?? ''}">

                                <div class="input-note">请完善客户地址</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>预约服务时间</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input js-time" datatype="*" id="appointment" name="appointment" size="20" value="{if isset($info.appointment)}{$info.appointment|date='Y/m/d H:i'}{else}{:date('Y/m/d H:i')}{/if}">
                                <div class="input-note">请填写预约服务时间</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>图片</label>
                            </div>
                            <div class="field">
                                <input type="hidden" class="input" id="qrcode" name="images" size="38" value="">
                                <div  style="margin-bottom:10px;"><img src="/static/base/images/default.png" id="qrcode_thumb_preview" width="120"></div>
                                <a class="button bg-main button-small js-img-upload" data="qrcode" preview="qrcode_thumb_preview" href="javascript:;" >
                                    <span class="icon-upload"> 上传</span>
                                </a>
                                <div class="input-note">建议小于2M</div>
                            </div>
                        </div>
                        <div class="form-group fault_desc">
                            <div class="label">
                                <label>备注信息</label>
                            </div>
                            <div class="field">
                                <textarea class="input" id="fault_desc" name="fault_desc" rows="6" cols="60">{$info['fault_desc'] ?? ''}</textarea>
                                <div class="input-note">请简要描述备注信息</div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="tab-panel" id="tab-2">
                     <div class="form-group">
                         <div class="label">
                             <label>订单号</label>
                         </div>
                         <div class="field">
                             <input type="text" disabled="disabled" class="input" size="40" value="{$ossub['order_sn'] ?? ''}">
                         </div>
                     </div>
                     <div class="form-group">
                         <div class="label">
                             <label>商品名称</label>
                         </div>
                         <div class="field">
                             <input type="text" disabled="disabled" class="input" size="40" value="{$ossub['sku_name'] ?? ''}  {$ossub['sku_spec'] ?? ''} ">
                         </div>
                     </div>
                     <div class="form-group">
                         <div class="label">
                             <label>商品图片</label>
                         </div>
                         <div class="field">
                             <div class="image_preview" style="margin-bottom:10px;">
                             <img src="{$ossub['sku_name']['sku_thumb']|default='/static/base/images/default.png'}" id="preview_imgs" width="120"></div>
                         </div>
                     </div>
             </div> -->
                    <div class="panel-foot">
                        <div class="form-button">
                            <button class="button bg-main" type="submit">保存</button>
                            <button class="button bg" type="reset">重置</button>
                            <div id="tips"></div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage({
            'uploadUrl' : "{:url('Upload/upload', ['prex' => 'workorder_', 'thumb_type' => 'workorder_thumb_'])}",
        });
    });
</script>