{__NOLAYOUT__}
{include file="common/header" /}
<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel fixed-pannel admin-box active">
        	<div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a class="tab-1" href="#tab-1">完善资料</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
				<div class="tab-panel active" id="tab-1">
					{if ($store && $store['check_status'] == 2)}
					<div class="form-group">
                        <div class="label">
                            <label>审核状态</label>
                        </div>
                        <div class="field">
                            <span class="field-text">{$store['check_status'] == 2 ?'已拒绝' : '厂商审核中'}</span>
                        </div>
                    </div>
                    {if ($store && $store['check_status'] == 2)}
                    <div class="form-group">
                        <div class="label">
                            <label>拒绝理由</label>
                        </div>
                        <div class="field">
                            <span class="field-text">{$store['admin_remark'] ?? ''}</span>
                        </div>
                    </div>
                    {/if}
                    {/if}
					<div class="form-group">
                        <div class="label">
                            <label>商户类型</label>
                        </div>
                        <div class="field">
                        	{if ($checkStatus == 2)}
                            <div class="button-group radio">
                            {if (isset($types))}
                            {volist name="types" id="type"}
                                <label class='button {if ((!$store && $i == 1) || ($store && $store_type == $key))}active{/if}'>
                                	<input name="type" value="{$key}" {if ((!$store && $i == 1) || ($store && $store_type == $key))}checked="checked"{/if} type="radio">
                                	<span>{$type['name']}</span>
                                </label>
                            {/volist}
                            {/if}
                            </div>
                            <div class="input-note">请选择商户类型</div>
                            {else/}
                            <span class="field-text">{$types[$store_type]['name']}</span>
                            {/if}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label><span id="merchant_type">零售商</span>名称*</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="name" name="name" size="40" datatype="*" value="{$store['name'] ?? ''}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>联系人姓名*</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="user_name" name="user_name" size="40" datatype="*" value="{$store['user_name'] ?? ''}">
                        </div>
                    </div>
                    <div class="form-group type3 {if ($store_type != 3)}hide-flag{/if}">
                        <div class="label">
                            <label>渠道商编号*</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="channel_no" name="channel_no" size="40" value="{$store['channel_no'] ?? ''}">
                        </div>
                    </div>
                    <div class="form-group type3 {if ($store_type != 3)}hide-flag{/if}">
                        <div class="label">
                            <label>采购样品金额</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" name="sample_amount" size="40" value="{$store['sample_amount'] ?? ''}">
                        </div>
                    </div>
                    <div class="form-group {if ($store_type == 3 || $store && $store['check_status'] == 2)}hidetype3 hide-flag{/if}">
                        <div class="label">
                            <label>缴纳保证金金额</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" name="security_money" size="40" value="{$store['security_money'] ?? ''}">
                        </div>
                    </div>
                    <div class="form-group">
						<div class="label">
							<label>公司法人身份证照片</label>
						</div>
						<div class="field">
							<div style="display: inline-block;">
				                <div class="idcard_font_img_preview" style="margin-bottom:10px;"><img src="{$store['idcard_font_img'] ?? '/static/base/images/default.png'}" id="idcard_font_img_preview" width="120"></div>
				                {if (!$store || ($store && $store['check_status'] == 2))}
				                <input type="hidden" class="input" id="idcard_font_img" name="idcard_font_img" size="38" value="{$store['idcard_font_img'] ?? ''}">
				                <a class="button bg-main button-small js-img-upload" data="idcard_font_img" preview="idcard_font_img_preview" href="javascript:;" >
				                	<span class="icon-upload"> 上传正面</span>
				                </a>
				                {/if}
							</div>
			                <div style="display: inline-block;" class="margin-left">
				                <div class="idcard_back_img_preview" style="margin-bottom:10px;"><img src="{$store['idcard_back_img'] ?? '/static/base/images/default.png'}" id="idcard_back_img_preview" width="120"></div>
				                {if (!$store || ($store && $store['check_status'] == 2))}
				                <input type="hidden" class="input" id="idcard_back_img" name="idcard_back_img" size="38" value="{$store['idcard_back_img'] ?? ''}">
				                <a class="button bg-main button-small js-img-upload" data="idcard_back_img" preview="idcard_back_img_preview" href="javascript:;" >
				                	<span class="icon-upload"> 上传背面</span>
				                </a>
				                {/if}
			                </div>
						</div>
					</div>
					<div class="form-group">
						<div class="label">
							<label>签约合同 (带有双方公司名称)</label>
						</div>
						<div class="field">
			                <div class="signing_contract_img_preview" style="margin-bottom:10px;"><img src="{$store['signing_contract_img'] ?? '/static/base/images/default.png'}" id="signing_contract_img_preview" width="120"></div>
			                {if (!$store || ($store && $store['check_status'] == 2))}
			                <input type="hidden" class="input" id="signing_contract_img" name="signing_contract_img" size="38" value="{$store['signing_contract_img'] ?? ''}">
			                <a class="button bg-main button-small js-img-upload" data="signing_contract_img" preview="signing_contract_img_preview" href="javascript:;" >
			                	<span class="icon-upload"> 上传签约合同</span>
			                </a>
			                {/if}
						</div>
					</div>
                    <div class="form-group {if ($store_type == 3 || $store['check_status'] == 2)}hidetype3 hide-flag{/if}">
						<div class="label">
							<label>公司营业执照</label>
						</div>
						<div class="field">
			                <div class="license_img_preview" style="margin-bottom:10px;"><img src="{$store['license_img'] ?? '/static/base/images/default.png'}" id="license_img_preview" width="120"></div>
			                {if (!$store || ($store && $store['check_status'] == 2))}
			                <input type="hidden" class="input" id="license_img" name="license_img" size="38" value="{$store['license_img'] ?? ''}">
			                <a class="button bg-main button-small js-img-upload" data="license_img" preview="license_img_preview" href="javascript:;" >
			                	<span class="icon-upload"> 上传公司营业执照</span>
			                </a>
			                {/if}
						</div>
					</div>
					<!--<div class="form-group {if ($store_type == 3 || $store['check_status'] == 2)}hidetype3 hide-flag{/if}">-->
						<!--<div class="label">-->
							<!--<label>签约合影照片</label>-->
						<!--</div>-->
						<!--<div class="field">-->
			                <!--<div class="group_photo_preview" style="margin-bottom:10px;"><img src="{$store['group_photo'] ?? '/static/base/images/default.png'}" id="group_photo_preview" width="120"></div>-->
			                <!--{if (!$store || ($store && $store['check_status'] == 2))}-->
			                <!--<input type="hidden" class="input" id="group_photo" name="group_photo" size="38" value="{$store['group_photo'] ?? ''}">-->
			                <!--<a class="button bg-main button-small js-img-upload" data="group_photo" preview="group_photo_preview" href="javascript:;" >-->
			                	<!--<span class="icon-upload"> 上传签约合影</span>-->
			                <!--</a>-->
			                <!--{/if}-->
						<!--</div>-->
					<!--</div>-->
                    <div class="form-group">
                        <div class="label">
                            <label><span class="title">商户地址</span></label>
                        </div>
                        <div class="field">
                        	<div class="js-select-child" formlength="3" posturl="{:url('Region/getAjaxList')}" str="选择区域" formname="region_id" formvalue='{$store.region_id ?? 0}' formstr="{$store.region_name ?? ''}" validtype='' notmsg='请选择负责区域'></div>
                        	<input type="text" class="input type3 mt5" name="address" size="60" value="{$store['address'] ?? ''}">
                        </div>
                    </div>
				</div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                	{if ($checkStatus == 2)}
                    <button id="submit" class="button bg-main" type="submit">保存</button>
                    {/if}
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
	var checkStatus = '{$checkStatus}';
	if(checkStatus != 2){
		$('input').attr('disabled', 'disabled');
	}
	var store_name = '{$types[$store_type]["name"]}';
	var step = 1;
	var type = '{$store_type}';
	_init(type, store_name);
    $("input[name='type']").change(function(){
    	type = $(this).val().trim();
    	store_name = $(this).next('span').html();
    	_init(type, store_name);
    });
    function _init(type, store_name)
    {
    	if(type != '{$Think.const.STORE_DEALER}'){
    		$('.type3').addClass("hide-flag");
    		$('.hidetype3').removeClass("hide-flag");
    		$('.js-select-child').attr('formlength', 3);
    		$('.js-select-child').attr('validtype', '');
    		$('.title').html('负责区域*');
    		$('input[name="address"]').hide();
    	}else{
    		$('.type3').removeClass("hide-flag");
    		$('.hidetype3').addClass("hide-flag");
    		$('.js-select-child').attr('formlength', 2);
    		$('.js-select-child').attr('validtype', '*');
    		$('.title').html('商户地址');
    		$('input[name="address"]').show();
    	}
    	//$('.js-select-child').selectchild();
    	$('#merchant_type').html(store_name);
    }
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage({
        	'uploadUrl' : "{:url('Upload/upload', ['prex' => 'store_profile_', 'thumb_type' => 'profile_thumb_500'])}",
        });
    }); 
</script>
{include file="common/footer" /}