<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">提现审核</a></li>
                        {if ($info['arrival_type'] == 'bank')}
                        <li><a href="#tab-2">银行卡账户信息</a></li>
                        {/if}
                    </ul>
                </div>
            </div>
            <div class="tab-body">
            	{include file="withdrawuser/_detail" /}
                <div class="form-group">
                        <div class="label">
                            <label>审核结果</label>
                        </div>
                        <div class="field">
                            <div class="button-group radio">
                                <label class="button active"><input name="check_status" value="1" checked="checked" type="radio">通过</label>
                                <label class="button"><input name="check_status" value="0" type="radio">不通过</label>
                            </div>
                        </div>
                    </div>
                    {if ($info['arrival_type'] == 'bank')}
                    <div class="form-group allowed">
                        <div class="label">
                            <label>转账流水号</label>
                        </div>
                        <div class="field">
                            <div class="button-group radio">
                                <input type="text" size="40"  name="transfer_no" class="input" value="">
                                <div class="input-note">请输入转账流水号</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group allowed">
						<div class="label">
							<label>转账凭证</label>
						</div>
						<div class="field">
							<input type="hidden" class="input" id="img" name="img" size="38" value="{$info['img']|default=''}">
			                <div class="img_preview" style="margin-bottom:10px;"><img src="{$info['img']|default='/static/base/images/default.png'}" id="img_preview" width="120"></div>
			                <a class="button bg-main button-small js-img-upload" data="img" preview="img_preview" href="javascript:;" >
			                	<span class="icon-upload"> 上传</span>
			                </a>
			                <div class="input-note"></div>
						</div>
					</div>
					{/if}
                    <div class="form-group">
                        <div class="label">
                            <label>备注</label>
                        </div>
                        <div class="field">
                            <div class="button-group radio">
                                <textarea class="input" name="remark" cols="40" rows="6"></textarea>
                                <div class="input-note">请输入操作备注</div>
                            </div>
                        </div>
                    </div>
            <div class="panel-foot">
                <div class="form-button">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage({
        	'uploadUrl' : "{:url('Upload/upload', ['prex' => 'finance_', 'thumb_type' => 'workorder_thumb_'])}",
        });
        $('input[name="check_status"]').click(function(){
        	var status = $(this).val();
        	if(status <= 0){
        		$('.allowed').hide();
        	}else{
        		$('.allowed').show();
        	}
        });
    }); 
</script>