<a href="{$loginUrl}">登录</a>
<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel fixed-pannel admin-box active">
        	<div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a class="tab-1" href="#tab-1">完善资料</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
				<div class="tab-panel active" id="tab-1">
					<div class="form-group">
                        <div class="label">
                            <label>商户类型</label>
                        </div>
                        <div class="field">
                            <div class="button-group radio">
                            {volist name="types" id="type"}
                                <label class='button {if ($i == 1 )}active{/if}'>
                                	<input name="type" value="{$key}" {if ($i == 1)}checked="checked"{/if} type="radio">
                                	<span>{$type['name']}</span>
                                </label>
                            {/volist}
                            </div>
                            <div class="input-note">请选择商户类型</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label><span id="merchant_type">零售商</span>名称*</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="name" name="name" size="40" datatype="*" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>联系人姓名*</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="user_name" name="user_name" size="40" datatype="*" value="">
                        </div>
                    </div>
                    <div class="form-group type3">
                        <div class="label">
                            <label>渠道商编号*</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="channel_no" name="channel_no" size="40" value="">
                        </div>
                    </div>
                    <!--<div class="form-group type3">-->
                        <!--<div class="label">-->
                            <!--<label>采购样品金额</label>-->
                        <!--</div>-->
                        <!--<div class="field">-->
                            <!--<input type="text" class="input" name="sample_amount" size="40" value="">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group hidetype3 hide">
                        <div class="label">
                            <label>缴纳保证金金额</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" name="security_money" size="40" value="">
                        </div>
                    </div>
                    <div class="form-group">
						<div class="label">
							<label>公司法人身份证照片</label>
						</div>
						<div class="field">
							<div style="display: inline-block;">
								<input type="hidden" class="input" id="idcard_font_img" name="idcard_font_img" size="38" value="">
				                <div class="idcard_font_img_preview" style="margin-bottom:10px;"><img src="/static/base/images/default.png" id="idcard_font_img_preview" width="120"></div>
				                <a class="button bg-main button-small js-img-upload" data="idcard_font_img" preview="idcard_font_img_preview" href="javascript:;" >
				                	<span class="icon-upload"> 上传正面</span>
				                </a>
							</div>
			                <div style="display: inline-block;" class="margin-left">
			                	<input type="hidden" class="input" id="idcard_back_img" name="idcard_back_img" size="38" value="">
				                <div class="idcard_back_img_preview" style="margin-bottom:10px;"><img src="/static/base/images/default.png" id="idcard_back_img_preview" width="120"></div>
				                <a class="button bg-main button-small js-img-upload" data="idcard_back_img" preview="idcard_back_img_preview" href="javascript:;" >
				                	<span class="icon-upload"> 上传背面</span>
				                </a>
			                </div>
						</div>
					</div>
					<div class="form-group">
						<div class="label">
							<label>签约合同 (带有双方公司名称)</label>
						</div>
						<div class="field">
		                	<input type="hidden" class="input" id="signing_contract_img" name="signing_contract_img" size="38" value="">
			                <div class="signing_contract_img_preview" style="margin-bottom:10px;"><img src="/static/base/images/default.png" id="signing_contract_img_preview" width="120"></div>
			                <a class="button bg-main button-small js-img-upload" data="signing_contract_img" preview="signing_contract_img_preview" href="javascript:;" >
			                	<span class="icon-upload"> 上传签约合同</span>
			                </a>
						</div>
					</div>
					<div class="form-group hidetype3 hide-flag">
						<div class="label">
							<label>公司营业执照</label>
						</div>
						<div class="field">
		                	<input type="hidden" class="input" id="license_img" name="license_img" size="38" value="">
			                <div class="license_img_preview" style="margin-bottom:10px;"><img src="/static/base/images/default.png" id="license_img_preview" width="120"></div>
			                <a class="button bg-main button-small js-img-upload" data="license_img" preview="license_img_preview" href="javascript:;" >
			                	<span class="icon-upload"> 上传公司营业执照</span>
			                </a>
						</div>
					</div>
					<div class="form-group hidetype3 hide-flag">
						<div class="label">
							<label>签约合影照片</label>
						</div>
						<div class="field">
		                	<input type="hidden" class="input" id="group_photo" name="group_photo" size="38" value="">
			                <div class="group_photo_preview" style="margin-bottom:10px;"><img src="/static/base/images/default.png" id="group_photo_preview" width="120"></div>
			                <a class="button bg-main button-small js-img-upload" data="group_photo" preview="group_photo_preview" href="javascript:;" >
			                	<span class="icon-upload"> 上传签约合同</span>
			                </a>
						</div>
					</div>
                    <div class="form-group">
                        <div class="label">
                            <label><span class="title">商户地址</span></label>
                        </div>
                        <div class="field">
                        	<div class="js-select-child" formlength="3" posturl="{:url('Region/getAjaxList')}" str="选择区域" formname="region_id" formvalue='' formstr="" validtype='' notmsg='请选择负责区域'></div>
                        	<input type="text" class="input type3 mt5" name="address" size="60" value="">
                        </div>
                    </div>
				</div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <button id="submit" class="button bg-main" type="submit">保存</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
	var store_name = '零售商';
	var step = 1;
	var type = 3;
    $("input[name='type']").change(function(){
    	type = $(this).val().trim();
    	store_name = $(this).next('span').html();
    	if(type != 3){
    		$('.type3').addClass("hide-flag");
    		$('.hidetype3').removeClass("hide-flag");
    		$('.js-select-child').attr('formlength', 3);
    		$('.js-select-child').attr('validtype', '');
    		$('.title').html('负责区域*');
    		$('input[name="address"]').val().hide();
    	}else{
    		$('.type3').removeClass("hide-flag");
    		$('.hidetype3').addClass("hide-flag");
    		$('.js-select-child').attr('formlength', 2);
    		$('.js-select-child').attr('validtype', '*');
    		$('.title').html('商户地址');
    		$('input[name="address"]').show();
    	}
    	$('.js-select-child').selectchild();
    	$('#merchant_type').html(store_name);
    });
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage({
        	'uploadUrl' : "{:url('Upload/upload', ['prex' => 'store_profile_', 'thumb_type' => 'profile_thumb_500'])}",
        });
    }); 
</script>