<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">订单商品发货</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
            	<div class="table-responsive">
				    <table id="table" class="table table-hover ">
				      <tbody>
				        <tr>
				          <th width="200">选择商品</th>
				          <th width="*">商品名称</th>
				          <th width="100">商品图片</th>
				          <th width="*">单价</th>
				          <th width="100">购买数量</th>
				          <th width="100">支付金额</th>
				        </tr>
				        {notempty name="info.order.skus"}
				          {volist name="info.order.skus" id="vo"}
				            <tr>
				              <td>
				              	{if condition="$vo['delivery_status'] != 1"}
				              	<input type="checkbox" name="osku_id[]" value="{$vo['osku_id']}" {if condition="!isset($params['osku_id']) || (isset($params['osku_id']) && $params['osku_id']== $vo['osku_id'])"} checked="checked"{/if}>
				              	{else/}
				              	已发货
				              	{/if}
				              </td>
				              <td>{$vo.sku_name} {$vo.sku_spec}</td>
				              <td><img src="{$vo.sku_thumb|default='/static/base/images/default.png'}" id="preview_imgs" width="100"></td>
				              <td>{$vo.price}</td>
				              <td>{$vo['num']}</td>
				              <td>{$vo.real_price}</td>
				            </tr>
				          {/volist}
				        {/notempty}
				      </tbody>
				    </table>
				  </div>
                <div class="tab-panel active" id="tab-1">
                    <div class="form-group">
                        <div class="label">
                            <label>订单号</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" value="{$info['order']['order_sn'] ?? ''}" size="60" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>配送方式</label>
                        </div>
                        <div class="field">
                            <div class="button-group radio">
                            	<label class="button active"><input name="is_delivery" value="0" type="radio">无需物流配送</label>
                            	<label class="button "><input name="is_delivery" value="1" checked="checked" type="radio">选择第三方配送方式</label>
                            </div>
                            <div class="input-note">商品发货是否需要物流配送</div>
                        </div>
                    </div>
                    <div class="form-group delivery1" style="display: none;">
                        <div class="label">
                            <label>物流公司</label>
                        </div>
                        <div class="field">
                            <select class="input" name="delivery_identif" id="delivery_identif" nullmsg="请选择物流公司！">
                              <option value="">==请选择物流公司==</option>
                               {foreach name="deliverys" item="vo"}
                               <option value="{$vo.identif}" 
                               {if condition="isset($vo['store_id']) && isset($info['store_id']) && $info['store_id'] == $vo['identif']"}selected="selected"{/if} >{$vo.name}</option>
                               {/foreach}
                            </select>
                            <div class="input-note">请选择物流公司</div>
                        </div>
                    </div>
                    <div class="form-group delivery1" style="display: none;">
                        <div class="label">
                            <label>物流单号</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="delivery_sn" name="delivery_sn" size="60" value="">
                            <div class="input-note">请填写物流单号</div>
                        </div>
                    </div>    
                    <div class="form-group">
			            <div class="label">
			              <label>发货备注</label>
			            </div>
			            <div class="field">
			              <textarea class="input" id="remark" name="remark" rows="5" cols="60"></textarea>
			              <div class="input-note">请输入订单发货操作备注</div>
			            </div>
			          </div>                 
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
		$("input[name='is_delivery']").change(function(){
			var is_delivery = $(this).val();
			alert(is_delivery);
			if(is_delivery > 0){
				$('.delivery1').show();
			}else{
				$('.delivery1').hide();
			}
		});
    }); 
</script>