<div class="form-x admin-form form-auto">
    <div class="tab admin-tab">
        <div class="panel admin-box fixed-pannel active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>操作信息</strong>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                	{include file="storeaction/_detail" /}
                </div>
	            <div class="panel-foot">
	                <div class="form-button">
	                    <a href="{:url('index')}" class="button bg-main">返回列表</a>
	                    <div id="tips"></div>
	                </div>
	            </div>
        </div>
    </div>
</div>
