<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>{$title}</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__PUBLIC__/base/css/common.css"/>
<link rel="stylesheet" href="__PUBLIC__/login/css/login.css"/>
<script src="__PUBLIC__/base/js/jquery.js"></script>
<script src="__PUBLIC__/base/js/layer/layer.js"></script>
<script type="text/javascript">
if(self!=top){top.location = self.location;}
</script>
{present name="_head_tags"}{$_head_tags|raw}{/present}
</head>
<body>
<div class="login">
	<div class="login-box">
        <form id="form" action="{:url('','',false)}" method="post">
            <div class="form-group">
              <div class="input-line">
              	<label>用户名</label>
                <input type="text" class="input" id="username" name="username" size="20" maxlength="30"  datatype="*"  value="" nullmsg="请输入用户名！" placeholder="请输入用户名" />
                <i class="form-icon"></i>
                <div class="input-note note" style="display:none"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-line">
              	<label>密码</label>
                <input type="password" class="input" id="password" name="password" size="20" maxlength="30" datatype="*5-20" value="" nullmsg="请输入您的登陆密码！" errormsg="密码需在6-20位！" placeholder="请输入密码"/>
                <i class="form-icon"></i>
                <div class="input-note note" style="display:none"></div>
              </div>
          	</div>
          	<div class="form-group">
            	<div id="tips"></div>
            	<button class="button button-big button-block bg-main text-big button-login" type="submit">登录</button>
          	</div>
        </form>
     </div>
</div>
<script>
$("#form").Form();
$(".button-login").click(function(){
	$("#form").submit();
})
</script>
</body>
</html>