<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">确定收款信息</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                    <div class="form-group">
                        <div class="label">
                            <label>订单号</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" value="{$info['order_sn'] ?? ''}" size="60" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>应付金额</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" value="{$info['real_amount'] ?? ''}" size="20" disabled="disabled">元
                        </div>
                    </div>
                    <div class="form-group">
						<div class="label">
							<label>支付方式</label>
						</div>
						<div class="field">
							<select class="input" name="pay_code" id="pay_code" datatype="*" nullmsg="请选择支付方式！">
								{volist name="payments" id="payment"}
									<option value="{$payment['pay_code']}" {if condition="$payment.pay_code==$info.pay_code"}selected="selected"{/if} >{$payment['name']}</option>
								{/volist}
							</select>
							<div class="input-note">请选择售后类型</div>
						</div>
					</div>
                    <div class="form-group">
                        <div class="label">
                            <label>第三方交易号</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="pay_sn" name="pay_sn" size="60" datatype="{if $info.pay_type==1}s1-50{else /}s0-50{/if}" value="{$info.pay_sn??''}">
                            <div class="input-note">在线支付请输入第三方交易号</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="label">
                            <label>交易凭证</label>
                        </div>
                        <div class="field">
                            <input type="hidden" class="input" id="pay_certificate" name="pay_certificate" size="38" value="{$info['pay_certificate']|default=''}">
                            <div  style="margin-bottom:10px;"><a href="{$info['pay_certificate']|default='/static/base/images/default.png'}" target="_blank" title="查看大图"><img src="{$info['pay_certificate']|default='/static/base/images/default.png'}" id="login_bg_thumb_preview" width="200" height="100"></a></div>
                            <a class="button bg-main button-small js-img-upload" data="login_bg" preview="login_bg_thumb_preview" href="javascript:;" >
                                <span class="icon-upload">上传</span>
                            </a>
                            <div class="input-note">图片大小建议2MB以内</div>
                        </div>
                    </div>

                    <div class="form-group">
			            <div class="label">
			              <label>备注</label>
			            </div>
			            <div class="field">
			              <textarea class="input" id="remark" name="remark" rows="5" cols="60">{$info.remark}</textarea>
			              <div class="input-note">请输入订单收款操作备注</div>
			            </div>
			          </div>
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
    });
</script>