<div class="panel admin-box">
	<div class="table-tools clearfix ">
        <div class="float-left">
            <form method="get" action="">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input" id="name" name="name" size="20" value="{$_GET['name'] ?? ''}" placeholder="登录用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input" id="phone" name="phone" size="20" value="{$_GET['phone'] ?? ''}" placeholder="联系方式">
                        </div>
                    </div>
                    <div class="form-button">
                        <button class="button" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  <div class="table-responsive">
    <table id="table" class="table table-hover ">
      <tbody>
        <tr>
          <th width="100">编号</th>
          <th width="*">所属商户</th>
          <th width="*">角色名称</th>
          <th width="*">登录用户名</th>
          <th width="*">联系方式</th>
          <th width="80">状态</th>
          <th width="100">排序</th>
          <th width="280">操作</th>
        </tr>
        {notempty name="list"}
          {volist name="list" id="vo"}
            <tr>
              <td>{$i}</td>
              <td>{$vo.sname ?? '平台'}</td>
              <td>{$vo.gname ?? '管理员'}</td>
              <td>{$vo.username}</td>
              <td>{$vo.phone}</td>
              <td>{$vo['status']?'<span class="tag bg-green">正常</span>':'<span class="tag bg-red">禁用</span>'}</td>
              <td>{$vo['sort_order']}</td>
              <td>
              	{if condition="$adminUser['admin_type'] == $Think.const.ADMIN_SYSTEM || !$vo['is_system']"}
              	{if condition="in_array($action, $userrule)"}<a href="{:url('edit', array('id' => $vo['user_id']))}" class="button button-small bg-main icon-edit">编辑</a>{/if}
                {if condition="in_array($action, $userrule)"}<a href="javascript:;" url="{:url('del')}" class="button button-small bg-red icon-delete js-del" title="删除" data-id="{$vo.user_id}">删除</a>{/if}
                {/if}
              </td>
            </tr>
          {/volist}
        {/notempty}
      </tbody>
    </table>
  </div>
  <div class="panel-foot table-foot clearfix">{$page|raw}</div>
</div>
<script>
    Do.ready('base', function () {
       $('#table').Table({});
    });
</script>