<form method="post" class="form-x admin-form form-auto" id="form">
    <div class="tab admin-tab">
        <div class="panel admin-box active">
            <div class="panel-head">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">{if isset($data['id'])}编辑{else /}新增{/if}单页</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                    <div class="form-group">
                        <div class="label">
                            <label>标题</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="title" name="title" size="30" datatype="*"
                                   value="{$data['title'] ?? ''}">
                            <div class="input-note"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>内容</label>
                        </div>
                        <div class="field">
		                  <textarea class="input js-editor" id="content" name="content" rows="20" datatype="*">
		                  	{$data['content']? stripslashes($data['content']) : '' }
		                  </textarea>
                            <div class="input-note"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-foot">
            <div class="form-button">
                <button class="button bg-main" type="submit">保存</button>
                <button class="button bg" type="reset">重置</button>
                <div id="tips"></div>
            </div>
        </div>
    </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
    });
</script>