<div class="tab admin-tab" id="table">
    <div class="panel admin-box active">
        <div class="panel-head">
            <div class="tab-head">
                <ul class="tab-nav">
                    <li class="active" data-type="0"><a href="#tab-1">项部导航管理</a></li>
                    <li data-type="1"><a href="#tab-2" >底部导航管理</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-body">
            <div class="tab-panel active" id="tab-1">
                <div class="panel admin-box">
                    <div class="table-responsive">
                        <table id="table1" class="table table-hover ">
                            <tbody>
                            <tr>
                                <th width="80">序号</th>
                                <th>导航名称</th>
                                <th>导航类型</th>
                                <th>排序</th>
                                <th>操作</th>

                            </tr>
                            {notempty name="list_top"}
                            {volist name="list_top" id="vo" key="key"}
                            <tr>
                                {php}
                                if($vo['page_type']==0){
                                   $type="单页--".$vo['title'];
                                }else{
                                   $type="链接--".$vo['url'];
                                }
                                {/php}
                                <td>{$key}</td>
                                <td>{$vo.name}</td>
                                <td>{$type}</td>
                                <td>{$vo.sort}</td>
                                <td><a class="button button-small icon-bell bg-blue" href="{$vo.url??''}" target="_blank">预览</a>{if isset($vo.id)}  <a class="button button-small bg-main icon-edit" href="{:url('add_menu',['id'=>$vo.id])}">编辑</a>{if !in_array($vo.name,$sysMenu)} <a class="button button-small icon-delete bg-red js-del"   url="{:url('del_menu')}" data-id="{$vo.id}" title="删除" href="javascript:;">删除</a>{/if} {/if} </td>
                            </tr>
                            {/volist}
                            {/notempty}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-foot table-foot clearfix">{$page|raw|default=''}</div>
                </div>
            </div>
            <div class="tab-panel" id="tab-2">
                <div class="panel admin-box">
                    <div class="table-responsive">
                        <table id="table2" class="table table-hover ">
                            <tbody>
                            <tr>
                                <th width="80">序号</th>
                                <th>导航名称</th>
                                <th>导航类型</th>
                                <th>排序</th>
                                <th>操作</th>

                            </tr>
                            {notempty name="list_bottom"}
                            {volist name="list_bottom" id="vo" key="key"}
                            <tr>
                                {php}
                                if($vo['page_type']==0){
                                   $type="单页--".$vo['title'];
                                }else{
                                   $type="链接--".$vo['url'];
                                }
                                {/php}
                                <td>{$key}</td>
                                <td>{$vo.cname}</td>
                                <td>{if $vo.parent_id!=0}{$type}{/if}</td>
                                <td>{$vo.sort}</td>
                                <td>{if $vo.parent_id==0 }<a class="button button-small icon-plus bg-sub" href="{:url('add_menu',['pid'=>$vo.id,'type'=>1])}">新增下级导航</a>  {/if}<a class="button button-small bg-main icon-edit" href="{:url('add_menu',['id'=>$vo.id])}">编辑</a> <a class="button button-small icon-delete bg-red js-del"   url="{:url('del_menu')}" data-id="{$vo.id}" title="删除" href="javascript:;">删除</a> </td>
                            </tr>
                            {/volist}
                            {/notempty}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-foot table-foot clearfix">{$page|raw|default=''}</div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').FormPage();
        $('#table').Table({});


    });


    $('.tab-nav li').click(function () {
        t=$(this).attr('data-type');
        console.log(t);
        console.log($(this).text());
        var btn=$('.tools-function .button-group a');
        btn.attr('href','/site/add_menu/type/'+t);
        btn.text($(this).text());
    });

    Do.ready('dialog',function(){

    });
</script>


